/*Estilos para todos los elementos*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{text-decoration: none;}
li{list-style: none;}
/*Fin de los estilos que aplican para todos los elementos*/


/*Custom Propities*/
:root{
  /*Colores principales*/
  --admin-primary:#ffbe58;
  --primary2:#0ab1aa;
  --primary:#45ccc5;
  --primarySelect: #32ccc6;
  --secondary: #49ae4e;
  --tertiary:#8b82b5;
  --tertiary2:#392e6d;
  --tertiary3:#a597e6;
  --tertiarySelect:#4d408a;
  --primary-text: #43932d;

  /*Colores de alerta*/
  --danger:#e75480;
  --success:#28a745;
  --alert-intensive: #cb8d09;
  --alert-smoothie: #fef9c3;
  --notification--dark: #658eab;
  --notification: #a2caea;

  /*Otros colores*/
  --light:#fff;
  --text:#2d3436;
  --title: #2e3440;
  --littleDark: #95a5c1;
  --background: #e5e9f0;
  --litleGray:#ebebeb;
  --supperLittleGray:#f4f4f4;
  --gold:#FFD700;
  --gold-light: #F7DB47DB;
  --shadow-transparent:rgba(50, 50, 50, .5);
  

    /*Colores Transparentes*/
    --primary-transparent: #45ccc54d;
    --tertiary-transparent: #8b82b54d;
    --teal-transparent: #87CEEB4d;

  /*Configuración*/
  --border-radius-circle: 5px;
  --box-shadow-card: 0 0 10px rgba(10, 10, 10, .2);
  --box-shadow-card-small: 0 0 5px rgba(10, 10, 10, .2);
}
/*FIN de las Customs Propities*/


/*Estilos para los elementos principales*/
html {
  scroll-behavior: smooth;
}
body{
  background: var(--background);
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 th, tr{
  font-family: 'Roboto', sans-serif;
  font-display: fallback;
  color: var(--title);
  font-size: 25px;
}
h1{
  font-size: 30px;
}
p, li, a, input, select, button, label,td, textarea, span, small, tr{
  font-family: 'Quicksand', sans-serif;
  font-display: fallback;
  color:var(--text);
  font-size: 16px;
}
/*Fin de los estilos principales*/


/*Media queries - Globales*/
@media (max-width: 500px){
  h1{
    font-size: 20px;
  }
  h1, h2, h3, h4, h5, h6, th{
    font-size: 18px;
  }
  p, li, a, input, select, button, label,td, textarea, span, small{
    font-size: 14px;
  }
}




/*KEYFRAMES*/
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverAbajo{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
@keyframes tamaño {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Agrandar */
    }
    100% {
        transform: scale(1); /* Volver al tamaño original */
    }
}
/*FIN DE LOS KEYFRAMES*/
