.containerCourses{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 20px;
	row-gap: 20px;
	margin-top: 30px;
}
.cardCourse{
	background: var(--light);
	border-radius: var(--border-radius-circle);
	display: grid;
	grid-template-areas: 
	"img img"
	"title title"
	"info boxButtoms";
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 360px;
	overflow: hidden;
	padding-bottom: 20px;
	position: relative;
}
.enrollment-status {
	position: absolute;
	top: 5px;
	left: 10px;
    display: block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 8px;
}

.enrolled {
    background-color: #d4edda; /* Verde claro */
    color: #155724; /* Verde oscuro */
}

.not-enrolled {
    background-color: #f8d7da; /* Rojo claro */
    color: #721c24; /* Rojo oscuro */
}
.notFindCourse{
	width: 100%;
	display: flex;
	flex-flow: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.notFindCourse i{
	font-size: 10em;
	color: var(--littleDark);
}

.cardCourse__img{
	display: block;
	object-fit: cover;
	width: 360px;
	height: 180px;
	grid-area: img;
	border-radius: 5px 5px 0 0;
}
.cardCourse__title {
    grid-area: title;
    margin: 10px 10px 15px 0px; /* Arriba, Derecha, Abajo, Izquierda */
    font-size: 16px;
    width: calc(100% - 40px); /* Resta márgenes para evitar desbordamiento */
}
.cardCourse__info{
	grid-area: info;
	margin-left: 15px;
	color: var(--littleDark);
}
.list__actions{
	grid-area: boxButtoms;
	width: 240px;
}

@media (max-width: 410px){
	.cardCourse{
		width: 95%;
	}
	.cardCourse__img{
		object-fit: cover;
		width: 150%;
	}
	.cardCourse .list__actions{
		width: 100%;	
	}
	.cardCourse{
		grid-template-areas: 
		"img"
		"title"
		"info"
		"boxButtoms";
	}
	.cardCourse__info{
		margin-left: 20px;
		text-align: left;
		width: 100%;
	}
}

@media (max-width: 310px){
	.cardCourse__img{
		object-fit: cover;
		width: 100%;
	}
}



/*Detalles del curso*/
.descriptionBanner{
	width: 90%;
	margin: auto;
	background: var(--light);
	padding: 20px 0;
	padding-left: 20px;
	display: flex;
	flex-flow: column;
	row-gap: 20px;
	position: relative;
}
.descriptionBanner__nav{
	display: flex;
	column-gap: 20px;
}

.descriptionBanner__item, .collapse__icon{
	padding: 10px;
	padding-bottom: 5px;
	color: var(--littleDark);
	border-bottom: 2px solid transparent;
	cursor: pointer;
	white-space: nowrap;
}
.collapse__icon{
	padding: 10px;
	padding-bottom: 5px;
	color: var(--text);
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.descriptionBanner__item--checked{
	color:var(--text);
	border-bottom: 2px solid var(--primary);
	background: var(--background);
}

.introduction{
	text-align: justify;
	max-width: 90%;
	padding-left:30px;
}

.smallInformation{
	max-width: 90%;
	margin: 5px 0;
	margin-left: 10px;
}
.smallInformation__title{
	font-size: 16px;
	margin: 10px 0;
}
.smallInformation__title--second{
	margin-top: 40px;
}
.tableInformation{
	max-width: 90%;
	margin: 5px 0;
	margin-left: 10px;
	display: flex;	
}
.tableInformation__img{
	object-fit: contain;
	width: 50px;
	display: block;
}
@media (max-width: 950px){
	.descriptionBanner__nav{
		overflow-x: auto;
		padding-right: 50px;
	}
	.collapse__icon{
		position: absolute;
		right: 0;
		top: 15px;
		height: 36px;
		background: var(--light);
		box-shadow: var(--box-shadow-card);
		border-radius: var(--border-radius-circle);
	}
	.descriptionBanner__item{
		box-shadow: 0 0 3px rgba(10, 10, 10, .1);
	}
}
@media (max-width: 700px){
	.descriptionBanner{
		width: 100%;
	}
}


/*Detalles del curso*/
.description2Banner{
	width: 90%;
	margin: auto;
	background: var(--light);
	padding: 20px 0;
	padding-left: 20px;
	display: flex;
	flex-flow: column;
	row-gap: 20px;
}
.description2Banner__nav{
	display: flex;
	column-gap: 20px;
}

.description2Banner__item, .collapse2__icon{
	padding: 10px;
	padding-bottom: 5px;
	color: var(--littleDark);
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.collapse2__icon{
	padding: 10px;
	padding-bottom: 5px;
	color: var(--text);
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.description2Banner__item--checked{
	color:var(--text);
	border-bottom: 2px solid var(--primary);
}

@media (max-width: 900px){
	.description2Banner__nav{
		overflow-x: auto;
	}
	.description2Banner{
		width: 100%;
	}
}

/*Detalles del curso*/
.description3Banner{
	width: 90%;
	margin: auto;
	background: var(--light);
	padding: 20px 0;
	padding-left: 20px;
	display: flex;
	flex-flow: column;
	row-gap: 20px;
}
.description3Banner__nav{
	display: flex;
	column-gap: 20px;
}

.description3Banner__item, .collapse3__icon{
	padding: 10px;
	padding-bottom: 5px;
	color: var(--littleDark);
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.collapse3__icon{
	padding: 10px;
	padding-bottom: 5px;
	color: var(--text);
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.description3Banner__item--checked{
	color:var(--text);
	border-bottom: 2px solid var(--primary);
}

@media (max-width: 900px){
	.description3Banner__nav{
		overflow-x: auto;
	}
	.description3Banner{
		width: 100%;
	}
}


/*Modules*/
.containerModules{
	display: flex;
	flex-flow: column;
	row-gap: 20px;
	padding: 20px 0;
	transition: all .5s;
	animation: moverArriba .5s;
	position: relative;
	width: 100%;
}
.containerModules--hidden{
	display: none;
	transition: all .5s;
}
.expandContent{
	cursor: pointer;
}
.boxExpand{
	cursor: pointer;
}

.cardModule{
	display: grid;
	grid-template-areas: 
	"id title title title title"
	"id item1 item2 item3 list"
	"id percentage percentage percentage percentage";
	background: var(--light);
	margin: auto;
	grid-column-gap: 40px;
	align-items: center;
	padding: 10px 20px;
	border-radius: 5px; 
	min-width: 80%;
	max-width: 80%;
}

.cardModule--student-block{
	min-width: 600px;
	background: var(--background);
}

.cardModule--finished{
	background: var(--primary);
	background-image: url('../../img/course/starts.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.cardModule--finished:hover{
	transition: all .5s;
	background-position: bottom right;
}
.cardModule--finished span, 
.cardModule--finished .cardModule__item,
.cardModule--finished .cardModule__title{
	color: var(--light);
}

.cardModule__number{
	grid-area: id;
	font-weight: 700;
	font-family: "roboto", sans-serif;
	font-size: 20px;
	padding: 10px;
	color: var(--primary);
}
.cardModule__title{
	grid-area: title;
	font-size: 20px;
}
.cardModule__title i{
	color: var(--primary);
	cursor: pointer;
}
.cardModule__item{
	color: var(--littleDark);
	white-space: nowrap;
}
.cardModule__item--note{
	grid-area: item1;
}
.cardModule__item--autoevaluation{
	grid-area: item2;
}
.cardModule__item--question{
	grid-area: item3;
}
.cardModule__editIcon{
	font-size: 20px;
}
.list__actions--course{
	grid-area: list;
	width: 320px;
}
.bar{
	margin: auto;
	background: var(--littleDark);
	width: 2px;
	height: 30px;
}
.iconBlockCourse{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}

/*Media queries - CARDMODULE*/
@media (max-width: 1440px){
	.cardModule{
		grid-column-gap: 20px;
		row-gap: 5px;
		min-width: 90%;
		max-width: 90%;
	}
	.cardModule__title{
		margin-bottom: 10px;
	}

}
@media (max-width: 1100px){
	.cardModule{
		grid-template-areas: 
		"id title title"
		"id item1 item1"
		"id item2 item2"
		"id item3 item3"
		"id percentage list";
	}
}

@media (max-width: 970px){
	.cardModule .list__actions{
		width: 100%;
		padding: 0;
		gap: 10px;
		margin: 0;
		justify-content: start;
	}
	.cardModule__number{
		min-width: 50px;
	}
	.cardModule{
		min-width: 98%;
		max-width: 98%;
	}
}
@media (max-width: 700px){
	.cardModule--student-block{
		min-width: inherit;
		width: 90%;
		margin: auto;
	}
}
@media (max-width: 450px){
	.cardModule{
		grid-template-areas: 
		"id title"
		"id item1"
		"id item2"
		"id item3"
		"id percentage"
		"id list";
	}
}




/*BottonEnds*/
.bottonEnd{
	display: flex;
	flex-flow: column;
	gap: 5px;
	margin-top: 16px;
}
.bottonEnd__text{
	text-align: center;
	max-width: 400px;
	min-width: 200px;
	margin: auto;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;
	border: 3px solid transparent;
	background: rgba(50, 50, 50, .5);
	color: var(--light);
	cursor: inherit;
}
.bottonEnd__text--disabled{
	cursor: not-allowed;
}
.bottonEnd__text--contrast{
	background: var(--tertiary);
	cursor: pointer;
}
.bottonEnd a{
	cursor: inherit;
}


/*Notes*/
.cardNoteContent{
	display: flex;
	flex-wrap: wrap;
	flex-flow: grow;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin: 30px 0;
}
.cardNote{
	display: grid;
	grid-template-areas: 
	"numberNote"
	"descriptionNote";
	background: var(--light);
	width: 400px;
	border-top: 3px solid var(--primary);
	border-radius: 3px;
	padding: 20px 10px;
	row-gap: 20px;
	position: relative;
	overflow: hidden;
}
.cardNote__content{
	grid-area: numberNote;
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	z-index: 1;
	background: var(--light);
	padding-right: 5px;
	width: 140px;
}
.cardNote__content--autoevaluation{
	width: 210px;
}
.cardNote__content--interactive{
	width: 265px;
}
.cardNote__content:hover .cardNote__title{
	text-decoration: underline;
	color: var(--primary);
}
.cardNote__img{
	position: absolute;
	width: 100%;
	height: 100px;
	object-fit: cover;
	z-index: 0;
}
.cardNote__number{
	background: var(--primary);
	color: white;
	padding: 8px;
	border-radius: 2px 0 0 2px;
	font-weight: 700;
	font-size: 20px;
}
.cardNote__title{
	font-size: 18px;
}
.cardNote__description{
	grid-area: descriptionNote;
	margin-top: 40px;
	font-weight: 700;
	text-align: left;
	padding: 10px;
	border-radius: var(--border-radius-circle);
}
.list__actions--module{
	grid-area: actionButtonNote;
	width: 420px;
}
.lineCardNote{
	width: 50px;
	height: 2px;
	background: var(--background);
}
.boxItemCardNote{
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
}
.boxItemsOptions{
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	height: 224px;
}
.optionCuestionario{
	background: var(--light);
	padding: 10px;
}
.optionCuestionario__title{
	font-size: 18px;
}
.optionCuestionario__box{
	display: flex;
	gap: 10px;
	cursor: pointer;
	align-items: center;
}
.optionCuestionario__info{
	display: flex;
	gap: 5px;
	min-width: min(100%, 365px);
}
.optionCuestionario__info i, .optionCuestionario__info p{
	color: var(--littleDark);
}
.contentBoxElements{
	display: flex;
	gap: 25px;
	justify-content: space-between;
}
.optionCuestionario__button{
	display: flex;
	align-items: center;
	gap: 3px;
}
.optionCuestionario__button{
	border: 2px solid var(--primary);
	border-radius: 3px;
	padding: 5px;	
	font-size: 12px;
	transition: all .5s;
}
.optionCuestionario__button--second{
	border: 2px solid var(--tertiary);
	border-radius: 3px;
	padding: 5px;
	font-size: 12px;
}
.optionCuestionario__button:hover{
	border: 2px solid transparent;
	background: var(--primary);
	transition: all .5s;
}
.optionCuestionario__button--second:hover{
	background: var(--tertiary);
	transition: all .5s;
}
.optionCuestionario__button i, .optionCuestionario__button p{
	color: var(--primary);
}
.optionCuestionario__button--second i, .optionCuestionario__button--second p{
	color: var(--tertiary);
}
.optionCuestionario__button--second:hover i, .optionCuestionario__button--second:hover p{
	color: var(--light);
}
.optionCuestionario__button:hover i, .optionCuestionario__button:hover p{
	color: var(--light);
}
.buttonRight{
	background: var(--littleDark);
	color: var(--light);
	padding: 5px;
	border-radius: 50px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: flex;
  gap: 5px;
}
.buttonRightCuestion{
	position: relative;
}
.buttonRight:hover, .buttonSubMenuRight:hover{
	background: var(--tertiary);
	transition: all .5s;
}
.menuNoteCard {
    position: absolute;
    background: var(--light);
    box-shadow: var(--box-shadow-card);
    border-radius: 2px;
    right: 10px;
    top: 50px; /* Ajusta esta posición según sea necesario */
}

.menuNoteCard__box {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margin por defecto */
}

.menuNoteCard__item {
    display: flex;
    gap: 5px;
    padding: 8px;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    width: 100%;
}

.menuNoteCard__item:hover {
    transition: all .2s;
    background: var(--primary);
}

.menuNoteCard__item:hover p,
.menuNoteCard__item:hover i {
    color: var(--light);
}

.menuNoteCard__item--deleted:hover {
    background: var(--danger);
}

/* Triángulo en la parte superior del menú */
.menuNoteCard::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent; /* Ajusta el tamaño */
    border-right: 7px solid transparent; /* Ajusta el tamaño */
    border-bottom: 10px solid var(--light); /* Color inicial del triángulo */
    right: 6px; /* Posición a la derecha, ajusta según sea necesario */
    top: -10px; /* Ajusta la posición vertical para que esté por debajo del menú */
}
.menuNoteCard__box button {
    background: none; /* Elimina el fondo */
    border: none; /* Elimina el borde */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    display: flex; /* Para alinear íconos y texto */
    align-items: center; /* Centra verticalmente el contenido */
    width: 100%;
}

.buttonSubMenuRight{
	background: var(--littleDark);
	color: var(--light);
	padding: 5px;
	border-radius: 50px;
	cursor: pointer;
	position: absolute;
	right: -12px;
	top: -12px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  display: flex;
  gap: 5px;
}





/*Question*/
.cardQuestionContent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 30px 0;
}

.cardQuestion{
	display: flex;
	flex-flow: column;
	width: 500px;
	background: var(--light);
	border-top: 3px solid var(--primary);
	border-radius: 3px;
	padding: 20px 10px;
	row-gap: 20px;
}

.cardQuestion__number{
	background: var(--primary);
	color: white;
	padding: 8px;
	border-radius: 2px 0 0 2px;
	font-size: 20px;
	display: inline;
}
.cardQuestion__contentMiniCard{
	display: flex;
}
.cardQuestion__super-text{
	font-size: 20px;
	display: inline;
	background: var(--tertiary);
	color: white;
	padding: 8px;
	border-radius: 0 2px 2px 0;
}
.cardQuestion__ask{
	font-size: 18px;
	text-align: center;
}
.list__actions--question{
	width: 100%;
}
.cardQuestion__contentAnswer{
	display: flex;
	flex-flow: column;
	row-gap: 5px;
}

.cardQuestion__answer{
	padding: 10px;
	background: #ebebeb;
	border-radius: 2px;
	color: var(--text);
	font-weight: 700;
	cursor: pointer;
	transition: background 0.3s ease, color 0.3s ease;
}
.cardQuestion__answer:hover{
	background: var(--background);
}
.cardQuestion__answer--true{
	background: var(--success);
	color: var(--light);
}
.cardQuestion__answer--bad{
	background: var(--danger);
	color: var(--light);
}
.hiddenRetro{
	display: flex;
	gap: 10px;
	background: var(--background);
	padding: 10px;
	border-radius: var(--border-radius-circle);
	margin-top: 20px;
	display: none;
}
.hiddenRetro__retro{
	font-weight: 700;
}
.hiddenRetro i{
	color: var(--notification--dark);
}

/*cardNote*/
@media (max-width: 450px){
	.cardNoteContent{
		width: 100%;
	}
	.boxItemCardNote{
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
	}
	.buttonRightCuestion{
		width: 100%;
	}
	.cardNote{
		width: 100%;
	}
}


/*cardNote*/
@media (max-width: 450px){
	.cardQuestion{
		width: 90%;
	}
	.cardQuestion__number, .cardQuestion__super-text{
		font-size: 16px;
	}
}

.cardModule__percentage{
	grid-area: percentage;
	min-width: 200px;
	max-width: 200px;
	display: flex;
	gap: 5px;
}

progress {
  width: 200px;
  height: 20px;
  border: 1px solid var(--light);
  border-radius: 10px;
}
progress::-webkit-progress-bar{
  background-color: #f1f1f1;
  border-radius: 10px;
}
progress::-webkit-progress-value{
  background-color: var(--tertiary);
  border-radius: 10px;
}
progress::-moz-progress-bar { 
	background-color: var(--tertiary); 
	border-radius: 10px; 
} 

.completePercentage::-webkit-progress-value {
  background-color: var(--secondary);
}
 .completePercentage::-moz-progress-bar { 
 	background-color: var(--secondary); 
 }

/*Escala de Likert - Autoevaluación*/
.boxEvaluationTeach{
	width: 90%;
	margin: auto;
	background: var(--light);
	padding: 20px;
	margin-top: 20px;
	border-radius: var(--border-radius-circle);
	box-shadow: var(--box-shadow-card);
}
.boxEvaluationTeach__description{
 	display: flex;
 	flex-flow: column;
 	gap: 10px;
 }
.boxEvaluationTeach__text{
    max-width: max(90%, 900px);
    text-align: justify;
    line-height: 1.6; 
}
.tableLikert{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.tableLikert th, .tableLikert td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.tableLikert th {
    background-color: var(--primary); /* Color más oscuro para el encabezado */
    color: white; /* Texto blanco en el encabezado */
}
.tableLikert tr:nth-child(even) {
    background-color: var(--background); /* Color claro para filas pares */
}
.tableLikert tr:nth-child(odd) {
    background-color: var(--light); /* Color más oscuro para filas impares */
}
.tableLikert tr:hover {
    background-color: #e1e3e8; /* Color al pasar el ratón sobre la fila */
}
/* Ajustar el ancho de las columnas */
.tableLikert th:nth-child(1), td:nth-child(1) {
    width: 40%; /* Ancho para la columna de afirmaciones */
}
.tableLikert th:nth-child(n+2), td:nth-child(n+2) {
    width: 12%; /* Ancho para las columnas de respuestas */
}

.actionsTable__ul, .actionsTable__item{
	display: flex;
}
.actionsTable__ul{
	gap: 10px;
}
.actionsTable__item{
	gap: 5px;
	padding: 5px;
	border: 2px solid var(--tertiary);
	border-radius: 2px;
	cursor: pointer;
}
.actionsTable__item p, .actionsTable__item i{
	color: var(--tertiary);
}
.actionsTable__item--deleted{
	border: 2px solid var(--danger);
	color: var(--danger);
}
.actionsTable__item--deleted i, .actionsTable__item--deleted p{
	color: var(--danger);
}
.actionsTable__item:hover{
	border-color: transparent;
	background: var(--tertiary);
	transition: all .5s;
}
.actionsTable__item:hover p, .actionsTable__item:hover i{
	color: var(--light);
}
.actionsTable__item--deleted:hover{
	background: var(--danger);
}
.buttonAddItem{
	margin-top: 20px;
	display: flex inline;
	gap: 10px;
	width: auto;
	padding: 5px;
	flex-wrap: wrap;
	border-radius: 5px;
	cursor: pointer;
	background: var(--primary);
	border: 2px solid transparent;
}
.buttonAddItem:hover{
	transition: all .5s;
	box-shadow: var(--box-shadow-card);
}
.buttonAddItem p, .buttonAddItem i{
	color: var(--light);
	font-size: 20px;
	font-weight: 700;
}

/*Evaluaciones*/
.boxEvaluations{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	align-items: start;
}
.evaluation{
	border-radius: var(--border-radius-circle);
	box-shadow: var(--box-shadow-card);
	background: var(--light);
	padding: 20px;
	border-top: 4px solid var(--primary);
	max-width: 500px;
	margin-top: 25px;
}
.infoEvaluation{
	display: flex inline;
	align-items: center;
	background: var(--tertiary);
	border-radius: var(--border-radius-circle);
}
.infoEvaluation__number{
	background: var(--primary);
	border-radius: 2px 0 0 2px;
}
.infoEvaluation__number, .infoEvaluation__text{
	font-size: 20px;
	font-weight: 700;
	padding: 6px;
	display: inline;
	color: var(--light);
}
.titleEvaluation{
	font-size: 18px;
	padding: 10px 0;
	line-height:1.3;
	text-align: justify;
}
.evaluation__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.evaluation_tag{
	font-weight: 700;
	background: var(--primary-transparent);
	padding: 5px;
	border-radius: 2px;
}
.evaluation_tag--second{
	background: var(--tertiary-transparent);
}
.evaluation_tag--third{
	background: var(--teal-transparent);
}
.shortAnswer__box{
	display: flex;
	flex-flow: column;
	gap: 10px;
	margin-top: 15px;
}
.shortAnswer__text{
	font-weight: 700;
}
.shortAnswer__boxItems{
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}
.shortAnswer__item{
	background: #ebebeb;
	padding: 5px;
	border-radius: 2px;
}
.buttonBox{
	display: flex;
	gap: 20px;
	justify-content: center;
}
.buttonAdd{
	display: flex;
	gap: 5px;
	margin-top: 15px;
	display: flex;
	gap: 10px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	background: transparent;
	border: 1px solid var(--primary);
	justify-content: center;
	transition: all .5s;
}
.buttonAdd:hover{
	background: var(--primary);
}
.buttonAdd p, .buttonAdd i{
	color: var(--primary);
	font-size: 18px;
	font-weight: 700;
}
.buttonAdd:hover p, .buttonAdd:hover i{
	color: var(--light);
}
.buttonAdd--edit{
	border: 1px solid var(--tertiary);
}
.buttonAdd--edit p, .buttonAdd--edit i{
	color: var(--tertiary);
}
.buttonAdd--edit:hover{
	background: var(--tertiary);
}
.buttonAdd--delete{
	border: 1px solid var(--danger);
}
.buttonAdd--delete p, .buttonAdd--delete i{
	color: var(--danger);
}
.buttonAdd--delete:hover{
	background: var(--danger);
}

.trueOrFalseBox{
	margin-top: 15px;
}
.trueOrFalse__content{
	height: 56.8px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.trueOrFalse__item {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--littleDark); /* Color azul vibrante */
    color: var(--light);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease; /* Añadir transformación */
}
.trueOrFalse__item:hover {
    transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
}
.trueOrFalse__item--correct {
    background: var(--success); /* Color verde para respuesta correcta */
    color: white; /* Texto en blanco */
}
.trueOrFalse__item--form{
	background: var(--background);
}
.boxFeedback{
	margin-top: 15px;
	background: var(--background);
	padding: 10px;
	border-left: 2px solid var(--littleDark);
	display: flex;
	flex-flow: column;
	gap: 10px;
	cursor: pointer;
}
.boxFeedBackHeader{
	display: flex;
	justify-content: space-between;
}
.boxFeedback__boxTitle{
	display: flex;
	gap: 10px;
}
.boxFeedback__info{
	line-height: 1.3;
}
.boxFeedback__title, .boxFeedback__icon, .boxFeedBackHeader i{
	color: var(--littleDark);
}


/*Evaluaciones Interactivas*/
.boxInteractive{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-wrap: wrap;
	gap: 25px;
}
.interactiveTest{
	border-left: 5px solid var(--primary);
	border-radius: var(--border-radius-circle);
	box-shadow:var(--box-shadow-card);
	background: var(--light);
	max-width: 500px;
	min-width: min(500px, 100%);
	padding: 15px 10px;
}
.interactiveTest__logo{
	display: flex;
	align-items: center;
	gap: 10px;
}
.interactiveTest__img{
	display: block;
	object-fit: cover;
	width: 50px;
}
.interactiveTest__card{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	position: relative;
	width: 100%;
}
.interactiveTest__itemNum{
	background: var(--background);
	padding: 10px;
	border-radius: 10px;
	font-weight: 700;
    
    width: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    gap: 10px;
}
.interactiveTest__itemNum--number{
	cursor: default;
}
.interactiveTest__itemNum i{
	font-size: 14px;
}
.interactiveTest__itemNum p{
	color: var(--text);
	font-size: 12px;
	white-space: nowrap;
}
.interactiveTest__title{
	font-size: 16px;
}

.boxCompare{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	justify-items: stretch;
	margin-top: 25px;
	position: relative;
	gap: 25px;
}
.boxCompare__column {
    display: flex;
    justify-content: center;
	justify-items: stretch;
    flex-direction: column;
    gap: 10px;
}
.boxCompare__column--left{
	border: 1px solid var(--text);
	padding: 10px;
	border-radius: 2px;
}
.boxCompare__column--right{
	border: 1px solid var(--text);
	padding: 10px;
	border-radius: 2px;
}
.boxCompare__item{
	background: var(--litleGray);
	padding: 10px;
	border-radius: 2px;
	max-width: 250px;
    border: 2px solid transparent; 
    cursor: pointer;
}

.boxCompare__titleItem{
	font-weight: 700;
}
.boxCompare__enunciado{
	width: 100%;
	margin-top: 15px;
}

.boxSequence{
	display: flex;
	flex-flow: column;
	margin-top: 25px;
}
.boxSequence__element{
	background: var(--litleGray);
	margin-top: 10px;
	padding: 10px;
	border-radius: 2px;
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
}
.boxSequence__element i{
	position: absolute;
	right: 10px;
	top: 35%;
}
.boxSequence__textNumber{
	padding: 5px;
	border-radius: 2px;
	font-weight: 700;
}
.boxTableCompare{
	margin-top: 25px;
}
.boxTableCompare__table{
	display: flex;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
}
.tableColumn{
	width: 33.33%;
	border: 1px solid black;
}
.tableColumn:nth-child(1){
	border-radius: 5px 0 0 5px;
}
.tableColumn:nth-child(3){
	border-radius: 0 5px 5px 0;
}
.tableColumn__title{
	padding: 5px;
	font-size: 18px;
	background: var(--primary-transparent);
	text-align: center;
}
.tableColumn__body{
	padding: 10px;
	display: flex;
	flex-flow: column;
	gap: 10px;
}
.tableColumn__item{
	background: var(--litleGray);
	padding: 5px;
	border-radius: 5px;
	margin-top: 5px;
}


/*BoxCreate - Content*/
.menuNewContent{
	padding: 0 50px;
}
.menuNewContent__subtitle{
	font-size: 16px;
}
.menuNewContent__division{
	margin-top: 25px;
}
.menuNewContent__item{
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: var(--border-radius-circle);
	background: var(--background);
	margin-top: 15px;
	padding-right: 35px;
	transition: all .5s;
	position: relative;
	min-width: 200px;
}
.menuNewContent__item:hover{
	transition: all .5s;
	background: var(--primary-transparent);
	transform: translateY(-5px) translateX(2px);
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(10, 10, 10, .2);
}
.menuNewContent__item--second:hover{
	background: var(--tertiary-transparent);
}
.boxContentItems{
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}
.menuNewContent__img{
	display: block;
	object-fit: cover;
	width: 75px;
	padding: 10px;
	background: var(--primary);
	border-radius: 5px 0 0 5px;
}
.menuNewContent__img--second{
	background: var(--tertiary3);
}
.menuNewContent__item i{
	position: absolute;
	right: 10px;
	color: var(--littleDark);
}
.menuNewContent__item--third{
	cursor: pointer;
	width: 240px;
}
@media (max-width: 631px){
	.menuNewContent__item{
		width: 100%;
	}
	.boxContentItems{
		padding: 0 10px;
		gap: 2px;
	}
	.menuNewContent__img{
		width: 55px;
		padding: 10px;
	}
}


/*Filtrar cursos*/
.boxGridTwo{
	display: flex;
}
.article--courses{
	flex-grow: 1;
}
.filteredContainer{
	padding: 20px;
	background: var(--light);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	min-width: 260px;
}
.filteredContainer__title{
	font-size: 18px;
	margin: 10px 0;
	white-space: nowrap;
}
.filtered__section{
	margin-top: 30px;
}
.filtered__sectionTitle{
	font-size: 16px;
	margin: 5px 0 6px;
}
.filtered__sectionBox{
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.filtered__sectionItem {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    text-overflow: ellipsis; /* Añade puntos suspensivos (...) si el texto es demasiado largo */
}
.filtered__sectionItem label{
    cursor: pointer;
}
.filteredContainer__filterButton{
	display: none;
}
.hidden{
	display: none !important;
}

@media (max-width: 1120px){
	.boxGridTwo{
		display: flex;
		flex-wrap: wrap;
	}
	.filteredContainer{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	.filteredContainer__filterButton{
		display: inline;
	}
	.boxFilteredTags{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		flex-flow: row;
	}
}

@media (max-width: 910px){
	.filteredContainer{
		flex-flow: column;
	}
	.filtered__section{
		margin-top: 10px;
	}

	.filteredContainer__title{
		white-space: nowrap;
		display: flex;
		align-items: center;
		gap: 0 5px;
		border: 1px solid var(--primary);
		padding: 5px;
		justify-content: center;
		border-radius: var(--border-radius-circle);
		cursor: pointer;
	}
	.filteredContainer__title:hover {
	    background-color: var(--primary); 
	    border-color: transparent; 
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	    color: var(--light);
	}
	.filteredContainer__title:hover span {
	    color: var(--light);
	}
	.filteredContainer__title:active {
	    transform: scale(0.95); /* Efecto de pulsación */
	}
	.boxFilteredTags{
		display: flex;
		flex-wrap: wrap;
	}
}
@media (max-width: 740px){
	.boxFilteredTags{
		flex-flow: column;
	}
}

@media (max-width: 1000px) {
    .boxEvaluationTeach {
        width: 100%;
        overflow-x: auto;
    }
    .tableLikert {
        width: 100%;
        max-width: 100%;  
        border-collapse: collapse;  /* Hace que las celdas compartan bordes */
    }
}
@media (max-width: 720px) {
	.boxTableLikert{
		width: 100%;
		overflow-x: scroll;
	}
    .tableLikert th{
    	font-size: 12px;
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary); /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:hover:not(:disabled) {
    background-color: var(--primary-transparent); /* Color al pasar el mouse */
}

.pagination-button:disabled {
    background-color: #cccccc; /* Color para el botón deshabilitado */
    cursor: not-allowed; /* Cursor para indicar que está deshabilitado */
}

.searchBox {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.searchBox__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.searchBox__icon {
    margin-left: -35px;
    color: #555;
    cursor: pointer;
}