.error404Box{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	height: calc(100vh - 80px);
	gap: 20px;
}

.img404{
	display: block;
	object-fit: cover;
	width: 400px;
}
.Info404 {
	display: flex;
	flex-flow: column;
	gap: 25px;
}
.Info404 p{
	width: 500px;
}

#backButton{
	text-align: center;
	min-width: 200px;
	margin: auto;
	padding: 8px 0;
	border-radius: 2px;
	cursor: pointer;
	background: var(--primary);
	border: 3px solid transparent;
	color: var(--light);
	display: block;
}
#backButton:hover{
	background: var(--primarySelect);
}

@media (max-width: 1030px){
	.error404Box{
		margin-top: 70px;
	}
}

@media (max-width: 560px){
	.error404Box{
		width: 100%;
	}
	.img404{
		width: 100%;
	}
	.Info404{
		width: 100%;
	}
	.Info404 h1{
		text-align: center;
	}
	.Info404 p{
		width: 90%;
		margin: auto;
		text-align: justify;
	}
}