.btnRegresar{
	display: flex;
	gap: 10px;
	background: var(--tertiary);
	border: 2px solid var(--tertiary);
	padding: 5px;
	border-radius: var(--border-radius-circle);
	margin: 20px 0;
	margin-left: 12px;
	cursor: pointer;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: 0;
}
.btnRegresar i, .btnRegresar p{
	color: var(--tertiary);
}
.btnRegresar:hover{
	background: var(--tertiary);
}
.btnRegresar i, .btnRegresar p{
	color: var(--light);
}

.boxPair{
    width: 95%;
    margin: auto;
    border: 1px solid var(--primary);
}
.form__input--tags{
    border: 1px solid var(--primary);
}

.add-word-button {
    display: inline-block;
    background: var(--primary);
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
}
.add-word-icon {
    position: absolute;
    right: 0px;
    top: 60%;
    transform: translateY(-60%);
    cursor: pointer;
    color: var(--primary);
    font-size: 20px;
    background: var(--light);
    padding: 5px;
    border-radius: 50%;
}
.add-word-icon--small{
    right: initial;
}
.tag, .sequence-item{
    display: inline-block;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}
.tag-remove, .remove-sequence-icon {
    margin-left: 8px;
    cursor: pointer;
    color: var(--light);
}
.boxInputSmall{
	width: 212px;
	position: relative;
}
.boxInputSmall{
    width: 100%;
}
.form__input--bigWord{
	padding: 10px;
}
.sequence-item {
    display: flex;
    align-items: center;
    background: var(--litleGray);
    color: var(--text);
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
}
.remove-sequence-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text);
    border-radius: 40%;
    transition: transform 0.2s; 
}
.form__input--CompleteWidth{
    width: 100%;
}


/*Formulario para agregar parejas*/
.add-pair-icon{
    margin-top: 25pxf;
    cursor: pointer;
    color: var(--primary);
    font-size: 20px;
    background: var(--light);
    padding: 5px;
    border-radius: 50%;
}
.boxPairContainerForms{
    display: flex;
    align-items: center;
}

.pair-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--litleGray);
    color: var(--text);
    border-radius: 5px;
    padding: 8px 12px;
    width: 95%;
    margin: 10px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
}
.elementoA, .elementoB{
    font-weight: 700;
}
.elementoA{
    text-decoration: underline;
    color: var(--notification--dark);
}
.elementoB{
    text-decoration: underline;
    color: var(--tertiary);
}
.formInteractiveBox{
    height: 90%;
}

#sequenceList {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}
#pairContainer{
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.iconLogoForm{
    display: block;
    object-fit: cover;
    width: 34px;
    margin: auto;
}
.boxTableCompare__table{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.tableColumn__title{
    width: 100%;
}
.tableColumn{
    position: relative;
}
.tableColumn__label{
    position: absolute;
    top: -20px;
}
.tableColumn__boxByInput{
    display: flex;
    gap: 10px;
    align-items: center;
}
.add-element-icon{
    color: var(--primary);
    cursor: pointer;
    font-size: 20px;
    background: var(--litleGray);
    padding: 5px;
    border-radius: 50%;
}
.add-element-icon:hover{
    background: var(--background);
}
.tag--comparativeTable{
    display: flex;
    justify-content: space-between;
}
#formComparativeTable .tableColumn__body{
    max-height: 100px;
    overflow-y: scroll;
}
.tableColumn__body{
    display: flex;
    gap: 0;
}
.tableColumn__body .tag{
    display: block;
}
.remove-button{
    cursor: pointer;
}

/*Media queries - form*/
@media (max-width: 630px){
    .formInteractiveBox{
        height: auto;
    }
}
@media (max-width: 900px){
    .boxTableCompare__table{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 0;
    }
    .tableColumn, .tableColumn__label, .tableColumn{
        width: 100%;
        display: flex;
        flex-flow: column;
    }
}