.grid-one{
	display: flex;
	flex-flow: column;
}
.grid-two{
	display: flex;
	justify-content: center;
}
.form__content{
	max-width: 500px;
	background: var(--light);
	margin: 30px auto;
	padding: 25px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(10, 10, 10, .2);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, min-content);
	position: relative;
}
.form__content--users{
	padding-top: 60px;
}
.form__content--login{
	display: flex;
	flex-flow: column;
	background: var(--light);
	padding: 25px 0;
	margin: 30px auto;
	max-width: 500px;
	border-radius: var(--border-radius-circle);
	box-shadow: var(--box-shadow-card);
	position: relative;
	margin-top: 120px;
}
.form__content--signup{
	margin-top: 120px;
}
.form__content--big{
	max-width: 900px;
}
.form__content--likert{
	max-width: 600px;
}
.form__content--note{
	min-width: 100%;
}
.form__content--ceroPadding{
	margin: 0;
}
.form__content--simple{
	box-shadow: none;
	background: transparent;
}

.form__icon, .form__title{
	font-size: 30px;
	text-align: center;
	color: var(--primary);
	margin: 2.5px 0;
}
.form__title__course{
	color: var(--dark);
}
.form__icon .hidden{
	display: none;
}

.form__item{
	position: relative;
	padding: 2px 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, max-content);
	width: 45%;
	margin: 10px auto;
	border-radius: 2px;
	max-width: 400px;
}
.form__item--big{
	padding: 0 20px;
	min-width: 100%;
}
.form__item--small{
	width: 80%;
}
.form__item--toggle{
	display: flex;
}
.form__item--hidden{
	display: none;
}
.form__view-Term{
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	color: var(--primary);
}
.form__input{
  position: relative;
  min-height: 35px;
}

.form__input, .form__textarea{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: none;
	border-bottom: 2px solid var(--primary);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
}
.form__input--big{
	min-width: 100%;
}
.form__input--checkbox{
	width: 20px;
	border: 2px solid #e5e9f0;
}
.form__input:focus{
	background: #d8dee9;
}
.form__input--errorField{
	border: 2px solid var(--danger);
}
.form__input--successField{
	border: 2px solid var(--primary);
}
.form__input--disabled{
	background: #c5cedd;
	border: 2px solid transparent;
	color: var(--text);

	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border-radius: 2px;
	outline: none;
}
.form__input--select{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: none;
	border-bottom: 2px solid var(--primary);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
	cursor: pointer;
}

.form__input--nacionality{
	width: 50px;
	cursor: pointer;
}
select.form__input{
	cursor: pointer;
}
.mult-select-tag .body{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: none;
	border-bottom: 2px solid var(--primary);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
}
.form__item--hidden{
	display: none;
}

.form__textarea{
	resize: none;
	padding: 10px;
}
.form__file{
	display: none;
}
.labelFile{
	border-radius: 2px;
	cursor:pointer;
	margin-top: .5em;
	display: flex;
}
.labelFile__input{
	width: 80%;
	border-bottom: 2px solid var(--primary);
	background: #e5e9f0;
	padding: 10px;
	border-radius: 2px;
	border-radius: 2px 0 0 2px;
}
.labelFile__text{
	width: 20%;
	text-align: center;
	background: var(--primary);
	color: var(--light);
	padding: 10px;
	border-radius: 0 2px 2px 0;
}


.form__send{
	max-width: 400px;
	min-width: 200px;
	margin: auto;
	margin-top: 20px;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;

	background: transparent;
	border: 2px solid var(--primary);
	color: var(--text);
}
.form__send:hover{
	transition: all ease .5s;
	box-shadow: 1px 1px 8px rgba(10, 10, 10, .4);
	cursor: pointer;
	background: var(--primary);
	border: 2px solid transparent;
	color: var(--light);
}
.form_send--disabled{
	background: #c5cedd;
	border: 2px solid transparent;
	color: var(--text);
}
.form_send--disabled:hover{
	box-shadow: 1px 1px 8px rgba(10, 10, 10, .0);
	cursor: inherit;
	background: #c5cedd;
	border: 2px solid transparent;
	color: var(--text);
}

.form__eye{
	padding: 5px;
	position: absolute;
	right: 0px;
	top: 26px;
	cursor: pointer;
	font-size: 20px;
	justify-self: end;
	color: var(--primary);
}

.option--disabled{
	color: green;
}

/*Toggle btn*/
.button-box{
	width: 310px;
	margin: 25px auto;
	position: relative;
	border-radius: 30px;
	background: #eceff4;
}

.toggle-btn{
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	position: relative;
	text-align: center;
}
.toggle-btn--checked{
	color: var(--light);
}
.button-box--course{
	width: 260px;
	margin: 35px auto;
	display: flex;
	justify-content: space-around;
}
.toggle-btn--course{
	width: 120px;
	padding: 10px;
}
.buttonCourse{
	margin-right: 50px;
	display: block;
}
.toggle-next{
	margin: auto;
	border-radius: 30px;
	width: 200px;
	background: #eceff4;
}
.toggle-next__button{
	width: 200px;
	padding: 10px 40px;
	cursor: pointer;
	border: 0;
	text-align: center;
	border-radius: 30px;
	background: var(--primary);
	color: var(--light);
}
.toggle-next__button--hidden{
	display: none;
}
.toggle-next__button--contrast{
	background: transparent;
	color: var(--text);
}

#btn{
	left: 0;
	top: 0;
	position: absolute;
	width: 155px;
	height: 100%;
	background: var(--primary);
	border-radius: 30px;
	transition: .5s;
}
#btn--course{
	left: 0;
	top: 0;
	position: absolute;
	width: 130px;
	height: 100%;
	background: var(--primary);
	border-radius: 30px;
	transition: .5s;
}
#btn--course--checked{
	left: 130px;
	top: 0;
	position: absolute;
	width: 130px;
	height: 100%;
	background: var(--primary);
	border-radius: 30px;
	transition: .5s;
}
.inputHidden{
	visibility: hidden;
}

/*Media queries - form*/
@media (max-width: 520px){
	.form__content, .form__content--login{
		width: 90%;
	}
}

/*Media queries - form*/
@media (max-width: 500px){
	.button-box{
		max-width: 300px;
	}
	#btn{
		width: 150px;
	}
}

/*Media queries - form*/
@media (max-width: 500px){
	.button-box{
		max-width: 250px;
	}
	.toggle-btn{
		padding: 10px 30px;
	}
	#btn{
		max-width: 125px;
	}
}

/*Media queries - form*/
@media (max-width: 550px){
	.form__content--big{
		width: 90%;
		margin: 20px auto;
		height: 50px;
	}
	.grid-two{
		flex-flow: column;
		justify-content: center;
	}
	.form__item{
		width: 90%;
	}
	.form__content--signup{
		margin-top: 70px;
		width: 100vw;
	}
	.form__title, .form__icon{
		font-size: 18px;
	}
}


/*Formulario para buscar*/
.form__search{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	column-gap: 10px;
}
.search_container{
	display: grid;
}

.button-search{
	width: 70px;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;

	background: transparent;
	border: 2px solid var(--primary);
	color: var(--text);
}
.button-search:hover{
	transition: all ease .5s;
	cursor: pointer;
	background: var(--primary);
	border: 2px solid transparent;
	color: var(--light);
}

.form__message-error{
	font-weight: 700;
	color: var(--danger);
}

/*Media queries - Globales*/
@media (max-width: 861px){
	.form__search{
		width: 90%;
		margin: auto;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		column-gap: 10px;
	}
}
@media (max-width: 450px){
	.labelFile__text{
		width: 30%;
	}
}




/*Input Checkbox ROLES*/
.form_checkbox{
	padding-left: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 25px;
}
.form__subtitle{
	width: 100%;
	font-size: 20px;
	text-align: center;
}
.boxCheckbox{
	margin-top: 10px;
	height: 130px;
	width: 150px;
	position: relative;
}
.input__checkbox--small{
	height: 100px;
	width: 100px;
}
.input__checkbox{
	-webkit-appearance: none;
	position: relative;
	height: 100%;
	width: 100%;
	background: #e5e9f0;
	border-radius: 10%;
	border: 3px solid transparent;
	outline: none;
	box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.05);
}
.input__checkbox::after{
	position: absolute;
	content: '\f111';
	font-family: "Font Awesome 6 free";
	font-weight: 400;
	font-size: 20px;
	top: 10px;
	left: 10px;
	color: var(--light);
}

.input__checkbox:hover{
	transform: scale(1.08);
}

.labelTitle{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 80%;
	width: 100%;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}

.labelTitle i{
	font-size: 30px;
}
.labelTitle_text{ 
	font-size: 20px;
}
.labelTitle_text--checkbox{
	font-size: 15px;
}
.boxCheckbox input[type="checkbox"]:checked + .labelTitle .labelTitle_text,
.boxCheckbox input[type="checkbox"]:checked + .labelTitle i,
.boxCheckbox input[type="radio"]:checked + .labelTitle .labelTitle_text,
.boxCheckbox input[type="radio"]:checked + .labelTitle i{
	color: var(--primary);
}

.boxCheckbox input[type="checkbox"]:checked:after,
.boxCheckbox input[type="radio"]:checked:after{
	content: '\f058';
	color: var(--primary);
}

.boxSpaceValues{
	padding: 2px 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, max-content);
	width: 45%;
	margin: 10px auto;
	border-radius: 2px;
	max-width: 400px;
}
.spaceValues{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 8px 5px 10px;
	border: none;
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
	height: 200px ;
	row-gap: 5px;
	display: flex;
	flex-flow: column;
	justify-items: center;
	overflow-y: scroll;
}
.spaceValue__item{
	display: flex;
	align-items: center;
	column-gap: 5px;
	background: var(--tertiary);
	padding-left: 5px;
	border-radius: 2px;
}
.spaceValue__item p, .spaceValue__item i{
	color: var(--light);
}
.spaceValue__item p{
	width: 100%;
	height: 40px;
	white-space: nowrap;
	overflow-x: scroll;
}
.spaceValue__item i{
	background: var(--danger);
	height: 100%;
	padding: 5px;
	line-height: 30px;
}
.gridEnabled{
	display: flex;
	column-gap: 10px;
}

/*Media queries - Header*/
@media (max-width: 550px){
	.form_checkbox{
		column-gap: 20px;
	}
	.boxCheckbox{
		height: 80;
		width: 90px;
	}
	.labelTitle i{
		font-size: 20px;
	}
	.labelTitle_text{ 
		font-size: 12px;
		font-weight: 400;
	}
	.form_checkbox{
		padding-left: 0px;
		column-gap: 25px;
	}
}

.linkText{
	color: #0B3954;
	text-decoration: underline;
}
.linkText:hover{
	color: #666A86;
}
.boxLinkText{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}

/*Media queries - BoxLinkText*/
@media (max-width: 550px){
	.boxLinkText{
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: auto;
	}
}



.infoInput{
	display: flex;
	column-gap: 5px;
}
.infoInput i{
	color: var(--tertiary);
}
.boxNacionality{
	display: flex;
}
.boxNacionality input{
	width: calc(100% - 50px);
}

.containerFormFloat{
	min-height: 100vh;
	min-width: 100vw;
	margin: auto;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: center;
	background: rgba(10, 10, 10, .5);
	margin-top: 40px;
}
.containerFormFloat--small{
	width: 100%;
	min-height: 100%;
	background: rgba(10, 10, 10, .5);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	z-index: 10;
}
.containerFormFloat--hidden{
	display: none;
}

.formFloat__button{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 20px;
	font-weight: 700;
	background: var(--danger);
	padding: 10px;
	display: block;
	border-radius: 4px 0 20px 0;
	z-index: 11;
	cursor: pointer;
}
.formFloat{
	animation: moverIzquierda .5s;
	transition: all .5s;
}

.inputRadio{
	display: flex;
	gap: 5px;
	width: calc(390px / 2);
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: 2px solid var(--littleDark);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;	
}
.inputRadio--checked{
	border: 2px solid var(--primary);
}
.boxLabels{
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

/*Media queries - inputRadio*/
@media (max-width: 889px){
	.inputRadio{
		width: 100%;
		padding: 8px 0 5px 10px;
	}
	.containerFormFloat{
		margin-top: 40px;
	}
}

.contactSupport{
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 10px;
	padding: 40px 0;
}
.contactSupport p, .contactSupport .WhatssapButton{
	font-size: 20px;
}
.WhatssapButton{
	color: var(--primary);
	text-decoration: underline;
}


/*Formulario con select + options*/
.select-btn{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: none;
	border-bottom: 2px solid var(--primary);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
  display: flex;
  justify-content: space-between;
}
.select-btn, .options li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn i{
  margin-right: 5px;
  color: #2d3436;
  font-size: 13px;
}
.select-search.active .select-btn i,
.select-search-laboral.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
	position: absolute;
	z-index: 15;
	left: 0;
	top: 45px;
	width: 400px;
  display: none;
  padding: 10px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-search.active .content, 
.select-search-laboral.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #e5e9f0;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  padding: 10px 13px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}


/*Media queries - inputRadio*/
@media (max-width: 631px){
	.form__content--bigHeightScroll{
			height: auto;
			overflow-y: scroll;
		}	
}
@media (max-width: 500px){
	#form_eye{
		position: absolute;
		top: 3.5px;
		left: -20px;
	}
}

/*Media queries - Formulario scroll*/
@media (max-width: 550px){
	.form__content{
		height: 100vh;
		overflow-y: scroll;
	}	
	.form__content--autoheight{
		height: auto;
	}
	.form__content--bigHeightScroll{
			height: auto;
			overflow-y: scroll;
		}
	.containerFormFloat{
		margin-top: 0px;
		z-index: 1000;
		overflow-y: scroll;
	}
}
@media (max-width: 900px){
	.form__content--bigHeightScroll{
		height: auto;
		overflow-y: scroll;
		padding-bottom: 65px;
	}
	.form__content--interactive{
		max-height: 95vh;
		overflow-y: scroll;
	}
	.boxEvaluationForms{
		overflow-y: scroll;
		max-height: 70vh;
	}
}


.label-correct{
	font-weight: 700;
	border-bottom: solid var(--primary) 1px;
	color: var(--primary);
}
.label-incorrect{
	color: var(--danger);
}


.boxPartForm{
	padding-bottom: 40px;
}
.buttonParts{
	display: flex;
	gap: 10px;
	background: var(--tertiary);
	border: 2px solid var(--tertiary);
	padding: 5px;
	border-radius: var(--border-radius-circle);
	margin: 20px 0;
	margin-left: 12px;
	cursor: pointer;
	transition: all .5s;
	position: absolute;
	color: var(--light);
}
.buttonParts--back{
	bottom: 0;
	left: 0;
}
.buttonParts--next{
	bottom: 0;
	right: 10px;
}

.obligatory{
	padding: 2px 5px;
}

.formCourse .form__content--big {
    padding-bottom: 50px;
    position: relative;
}
.formCourse textarea{
    resize: vertical;
    overflow: auto;
    min-height: 100px;
}

.buttonBoxCourse {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%; 
}

/* Estilos generales para la carga de archivo */
.file-upload {
    position: relative;
    display: inline-block;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    margin-bottom: 30px; /* Espacio para el mensaje de error */
}

/* Estilos del input de archivo */
.file-input {
    display: none; /* Oculta el input original */
}

.file-label {
    display: inline-block;
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    box-shadow: var(--box-shadow-card);
}

/* Estilos para el nombre del archivo */
.file-name {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    z-index: 1; 
}
.file-input:focus + .file-label {
    outline: none;
}
.img-preview-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.img-preview {
    width: 150px;
    height: 150px;
    object-fit: contain; 
    border-radius: 8px;
    border: 1px solid #ccc;
}
.form__input--errorField {
    border: 2px solid var(--danger); 
}

.form__message-error {
    color: var(--danger); 
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.form__progress {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.form__progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s ease;
}
.boxFormsEdits{
	margin-top:100px;
}
.pair-item i{
	cursor: pointer;
}