.containerHeader{
	width: 90%;	
	margin: auto;
	position: relative;
	overflow: hidden;
	min-height: 460px;
	margin-top: 10px;
}

.sabana{
	background: rgb(0,0,0);
	box-shadow: 0 0 5px rgba(10, 10, 10, .3);
	background: linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(24,24,24,.7) 48%, rgba(150,150,150,0) 100%); 
	margin: auto;
	border-radius: 2px;
	width: 100%;	
	min-height: 460px;
	
	position: absolute;
	left: 0;
	top: 0;	
}

.headerBackground__img{
	object-fit: cover;
	width: 100%;	
	min-height: 460px;
	
	position: absolute;
	left: 0;
	top: 0;	
}

.headerBackground{
	width: 100%;
	min-height: 460px;

	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-flow: column;
	justify-content: space-around;
}
.headerBackground--flexbox{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
}
.smallFlex{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.qrBars{
	border-radius: var(--border-radius-circle);
	padding: 10px;
	background: var(--light);
	border-radius: var(--border-radius-circle);
}
.imgQR{
	width: 300px;
	height: 300px;
	display: block;
	object-fit: cover;
	border-radius: var(--border-radius-circle);
}
.headerBackground__information{
	max-width: 600px;
	display: flex;
	flex-flow: column;
	row-gap: 25px;
	border-radius: 5px;
	margin-left: 50px;
	padding: 20px;
}

.headerBackground__title{
	font-size: 30px;
	max-width: 700px;
	color: var(--light);
	text-shadow: 2px 2px 2px rgba(10, 10, 10, 1.0);
}

.headerBackground__description{
	max-width: 700px;
	font-size: 20px;
	color: var(--light);
	text-shadow: 2px 2px 2px rgba(10, 10, 10, 1.0);
}
.headerBackground__buttons{
	max-width: 700px;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	grid-column-gap: 20px;
}

.descriptionContent{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: var(--light);
}



/*Media queries - Header*/
@media (max-width: 1080px){
	.qrBars > svg:nth-child(1){
		width: 200px;
		height: 200px;
	}
	.headerBackground--flexbox{
		padding-right: 30px;
	}
	
}


/*Media queries - Header*/
@media (max-width: 700px){
	.containerHeader{width: 100%;}
	.headerBackground__information{
		max-width: 350px;
		margin-left: 10px;
	}
	.headerBackground--flexbox{
		flex-wrap: wrap;
		flex-flow: column;
		justify-content: center;
	}

	.containerHeader, .headerBackground__img, .sabana, .headerBackground--flexbox{
		height: 600px;
		align-items: space-around;
		justify-content: space-around;
	}
}

@media (max-width: 450px){
	.headerBackground__buttons{
		grid-template-columns: repeat(1, max-content);
		grid-column-gap: 0;
		row-gap: 20px;
	}
}

.boxButtonsShared{
	display: flex;
	flex-flow: column;
	gap: 5px;
}
.shared{
	display: flex;
	gap: 5px;
	padding: 5px;
	background: var(--primary);
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid transparent;
}
.shared:hover{
	background: var(--primarySelect);
}
.shared--second{
	border: 2px solid var(--primary);
	background: transparent;
}
.shared--second:hover{
	background: transparent;
}
.shared--second .iconShared, .shared--second .textShared{
	color: var(--primary);
}

.iconShared, .textShared{
	color: var(--light);
}
.BigBoxHeader{
	display: flex;
	flex-flow: column;
}
.infoInscription{
	background: var(--light);
	width: 300px;
	height: 300px;
	border-radius: var(--border-radius-circle);
	padding: 10px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	gap: 10px;
}
.infoInscription__title{
	font-size: 20px;
}
.InfoInscription_icon{
	font-size: 30px;
	color: var(--gold);
	display: flex;
	justify-content: center;
	gap: 5px;
}