.header__background--teacher{
	background: url("../../img/teacher/wallpaper.jpeg");
}
.header__background--admin{
	background: url("../../img/administrator/wallpaper.jpeg");
}
.header__background--student{
	background: url("../../img/student/wallpaper.jpg");
}

.header__background{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 90%;	
	margin: auto;
	margin-top: 55px;
}
.header__background--login{
	background: url("../../img/login/wallpaper.jpeg");	
}


.header{
	background: rgba(10, 10, 10, .5);
	box-shadow: 0 0 5px rgba(10, 10, 10, .2);
	margin: auto;
	margin-top: 10px;
	border-radius: 2px;
	width: 100%;	
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	align-items: center;
	column-gap: 30px;
	min-height: 460px;
}
.header__img{
	object-fit: cover;
	display: block;
	width: 256px;
}
.header__information{
	display: grid;
	grid-template-rows: repeat(3, max-content);
	grid-template-columns: max-content;
	grid-row-gap: 20px;
}
.header__title{
	text-align: center;
	font-size: 30px;
	max-width: 700px;
	color: var(--light);
	text-shadow: 2px 2px 2px rgba(10, 10, 10, 1.0);
}
.header__bottons{
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	grid-column-gap: 20px;
}
.header__loginItem{
	text-align: center;

	max-width: 400px;
	min-width: 200px;
	margin: auto;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;

	border: 3px solid transparent;
	background: rgba(50, 50, 50, .5);
	color: var(--light);
	cursor: pointer;
}
.header__loginItem:hover{
	transition: all ease .5s;
	box-shadow: 1px 1px 4px rgba(10, 10, 10, .4);
	background: rgba(70, 70, 70, .6);
}
.header__loginItem--contrast{
	background: var(--primary);
	border: 3px solid transparent;
	color: var(--light);
}
.header__loginItem--delete{
	background: var(--danger);
	cursor: pointer;
}
.header__loginItem--delete:hover{
	background: #e05964;
}
.header__loginItem--contrast:hover{
	transition: all .5s;
	background: var(--primarySelect);
}
.header__scienceContainer{
	width: 100%;
	height: 100%;
	display: flex;
	background: var(--light);
	justify-content: center;
	align-items: center;
	grid-column-gap: 20px;
}
.header__scienceItem{
	font-size: 20px;
	color: var(--primary);
	padding: 10px;
}
.header__scienceItem i{
	margin-right: 7px;
}
.header_imgItem{
	display: block;
	object-fit: contain;
	width: 100px;
}
.header_imgItem__cintillo{
	width: 500px;
}
/*Final del header*/


/*Contenedor*/
.color-Text{
	color: var(--primary);
	font-weight: 700;
}
.color-TextWhite{
	color: var(--light);
	font-weight: 700;
}
.container{
	width: 90% ;
	margin: auto;
}
.article{
	background: #eceff4;
	padding: 50px 0;
	border-bottom: 3px solid #d2d1d1;
}
.article--whitoutPadding{
	padding: 0;
}
.article__title{
	text-align: center;
}
.tab{
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	align-items: center;
	column-gap: 50px;
	padding: 0 25px;
	min-height: 270px;
	transition: all .5s;
}
.tab__subtitle{
	font-weight: 700;
}
.tab__title--centered{
	text-align: center;
}
.tab__img--reverse{
	order: 1;
}
.tab__information{
	display: grid;
	grid-template-rows: repeat(2, max-content);
	grid-row-gap: 25px;
	max-width: 600px;
}
.tab__container-img{
	background: var(--primary);
	border-radius: 50%;
}
.tab__img{
	display: block;
	object-fit: cover;
	width: 160px;
	transition: all .5s;
}
.tab__description, .love-middle__description{
	text-align: justify;
	line-height: 1.6;	
}
.tab__content{
	display: grid;
	row-gap: 20px;

}
.tab__description--list{
	list-style: inherit;
}
.tab__iconsDescription{
	display: flex;
	gap: 20px;	
}
.tab__iconsDescription--flex{
	flex-wrap: wrap;
	align-items: center;
}
.tab__iconsDescription__img{
	display: block;
	width: 20px;
}
.tab__iconsDescription--flex p{
	display: flex;
	gap: 5px;
	background: var(--light);
	padding: 2px 5px;
	border-radius: var(--border-radius-circle);
	min-width: 170px;
}
.cardModule__item--question{
	cursor: pointer;
}
.tab__iconsDescription {
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}
.tab__iconsDescription.hidden {
    max-height: 0;
}
.tab__iconsDescription:not(.hidden) {
    max-height: 500px; 
}
#caretIcon.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}



/*Contaniner - love-middle*/
.love-middle{
	display: grid;
	grid-template-areas: 
	"title title  title"
	"title title  title"
	"efectivo img  motivado"
	"sencillo img  divertido";
	grid-row-gap: 10px;
	grid-column-gap: 30px;
	justify-content: center;
	align-items: center;
}

.love-middle__titleMain{
	grid-area: title;
	text-align: center;
	margin-bottom: 40px;
}
.love-middle__information{
	padding: 10px 20px;
	display: grid;
	grid-row-gap: 5px;
	max-width: 400px;
}
.love-middle__information:nth-child(2){grid-area: efectivo;}
.love-middle__information:nth-child(3){grid-area: sencillo;}
.love-middle__information:nth-child(4){grid-area: motivado;}
.love-middle__information:nth-child(5){grid-area: divertido;}
.love-middle__img{
	grid-area: img;
	display: block;
	width: 200px;
}

.love-middle__title{
	font-size: 20px;
	background: var(--light);
	padding: 5px;
	border-radius: var(--border-radius-circle);
}
.love-middle__title i{
	margin-right: 10px;
}
.love-middle__information:nth-child(2) i{color: #ff9600;}
.love-middle__information:nth-child(3) i{color: #49ae4e;}
.love-middle__information:nth-child(4) i{color: var(--primary);}
.love-middle__information:nth-child(5) i{color: #9069cd;}


/*Media queries - Header*/
@media (max-width: 1140px){
	.header{
		display: grid;
		grid-template-rows: repeat(2, max-content);
		grid-template-columns: minmax(100px, max-content);
		justify-content: center;
		align-items: center;
		column-gap: 0;
		grid-row-gap: 20px;
		min-height: 460px;
		padding: 50px 0 20px 0;
	}	
	.header__img{
		margin: auto;
	}
	.header__title{
		width: 100%;
		padding: 0 20px;
	}
	.header__information{
		grid-template-rows: 1fr max-content;
		grid-template-columns: minmax(10px, max-content);
	}

}
/*Media queries - tab*/
@media (max-width: 940px){
	.tab__iconsDescription{
		display: flex;
		flex-flow: column-reverse;
	}
}

/*Media queries - Header*/
@media (max-width: 700px){
	.header__background{width: 100%;}
	.container{width: 100% ;}
	.header{margin-top: 0;}
	.header__img{
		width: 200px;
	}
}

/*Media queries - Header*/
@media (max-width: 500px){
	.header__img{
		width: 156px;
	}
	.header__bottons{
		grid-template-columns: max-content;
		grid-template-rows: repeat(2, max-content);
		grid-column-gap: 0;
		grid-row-gap: 10px;
	}
	.header__logoutItem{
		max-width: 400px;
		min-width: 180px;
	}
	.header__cienciaItem{
		font-size: 14px;
	}
	.header__title{
		font-size: 25px;
	}
}


/*Media queries - tab*/
@media (max-width: 700px){
	.tab{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, max-content);
		column-gap: 0;
		grid-row-gap: 25px;
		padding: 0 25px;
	}
	.tab__img--reverse{
		order: 0;
	}
	.tab__information{
		margin: auto;
		display: grid;
		grid-template-columns: minmax(100px, 1fr);
		grid-template-rows: repeat(2, max-content);
		grid-row-gap: 15px;
		max-width: 500px;
		padding: 0 25px;
	}
	.tab__description{
		text-align: justify;
	}
	.tab__img{
		margin: auto;
	}
}


/*Media queries - love-middle*/
@media (max-width: 700px){
	.love-middle{
		grid-template-areas: 
		"title"
		"img"
		"efectivo"
		"motivado"
		"sencillo"
		"divertido";
	}
	.love-middle__img{
		margin: auto;
		width: 165px;
	}
	.love-middle__information{
		margin: auto;
	}

	.love-middle__titleMain{
		margin-bottom: 30px;
		width: 100%;
		padding: 0 25px;
	}
}

/*Media queries - header__science*/
@media (max-width: 1020px){
	.header__scienceContainer{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}	
}

.content-data{
	width: 100%;
	row-gap: 20px;
	display: flex;
	flex-flow: column;
}
.data-view{
	min-width: min(100%, 800px);
	padding: 10px;
	display: flex;
	flex-flow: column;
	background: var(--light);
	border-radius: 3px;
	align-items: center;
}
.data-view__title{
	font-size: 18px;
	text-align: center;
}



/*Teacher - Home*/
.teach{
	display: grid;
	grid-template-areas: 
	"img description description"
	"img card boxButtoms";
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
	column-gap: 20px;
}
.teach--inversed{
	grid-template-areas: 
	"description description img"
	"card boxButtoms img";
}
.teach__img{
	grid-area: img;
	display: block;
	width: 500px;
	border-radius: 10px;
}
.teach-description{
	padding: 20px;
	border-radius: 10px;
	background: var(--light);
	grid-area: description;
	height: 200px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	row-gap: 10px;	
}
.teach-description--colored{
	background: var(--primary);
	height: 100px;
}
.teach-description--colored h2,
.teach-description--colored i{
	color: var(--light);
}

.teach-description__subtitle{
	color: var(--primary);
	font-size: 18px;
}
.teach-description__text, .teach-course__text{
	text-align: justify;
	width: 95%;
}
.teach-card{
	border-radius: 10px;
	background: var(--light);
	grid-area: card;
	height: 220px;
	padding: 20px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	row-gap: 10px;
}
.teach-course__title{
	color: var(--primary);
}
.list__text{
	margin-top: 15px;
}
.box-bottoms{
	padding: 20px;
	height: 220px;
	border-radius: 10px;
	background: var(--light);
	grid-area: boxButtoms;
	row-gap: 10px;
	display: flex;
	flex-flow: column;
	row-gap: 20px;
	align-items: center;
	justify-content: center;
}

/*Media queries - Teacher Home*/
@media (max-width: 1270px){
	.teach{
		grid-template-areas: 
		"description description"
		"img card"
		"img boxButtoms";
		row-gap: 20px;
	}
	.teach--inversed{
		grid-template-areas: 
		"description description"
		"img img"
		"card boxButtoms";
	}
}

@media (max-width: 1000px){
	.teach{
		grid-template-areas: 
		"description description"
		"card boxButtoms"
		"img img";
		row-gap: 20px;
		justify-items: center;
	}
	.teach--inversed{
		grid-template-areas: 
		"description description"
		"img img"
		"card boxButtoms";
		justify-items: inherit;
	}
}
@media (max-width: 650px){
	.teach{
		grid-template-areas: 
		"description"
		"img"
		"card"
		"boxButtoms";
		row-gap: 20px;
		justify-items: center;
	}
	.teach--inversed{
		grid-template-areas: 
		"description description"
		"img img"
		"card boxButtoms";
		justify-items: inherit;
	}
	.teach__img{
		width: 100%;
	}
}
@media (max-width: 450px){
	.teach--inversed{
		grid-template-areas: 
		"description"
		"img"
		"card"
		"boxButtoms";
	}
	.teach-card .list__actions{
		width: 100%;
	}
}


/*Media queries - header__loginItem*/
@media (max-width: 400px){
	.header__loginItem{
		max-width: 270px;
	}
}

/*tab__iconsDescription*/
@media (max-width: 450px){
	.tab__iconsDescription{
		flex-flow: column;
		gap: 20px;	
	}
	.tab__title--module{
		text-align: inherit;
	}
}


/*cuadricula*/
.cuadricula{
	display: grid;
	grid-template-areas: 
	"img title title"
	"img cu_topLeft cu_topRight"
	"img cu_buttomLeft cu_buttomRight";

	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
	column-gap: 20px;
}

.cuadricula__img{
	grid-area: img;
	display: block;
	width: 256px;
	border-radius: 10px;
	padding: 20px;
}
.cuadricula-description{
	grid-area: title;
	background: var(--light);
	padding: 20px;
	border-radius: 10px;
}
.cuadricula-description__subtitle{
	color: var(--primary);
	font-size: 18px;
}
.cuadricula-box{
	background: var(--light);
	padding: 20px;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	row-gap: 10px;
}
.cuadricula-topLeft{
	grid-area: cu_topLeft;
}
.cuadricula-topRight{
	grid-area: cu_topRight;
}
.cuadricula-buttomLeft{
	grid-area: cu_buttomLeft;
}
.cuadricula-buttomRight{
	grid-area: cu_buttomRight;
}
.cuadricula__title{
	font-size: 18px;
	text-align: center;
}

@media (max-width: 1000px){
	.cuadricula{
		display: grid;
		grid-template-areas: 
		"img title"
		"img cu_topLeft "
		"img cu_topRight "
		"img cu_buttomLeft"
		"img cu_buttomRight";
		row-gap: 10px;
	}
}
@media (max-width: 600px){
	.cuadricula{
		display: grid;
		grid-template-areas: 
		"img title"
		"cu_topLeft cu_topLeft"
		"cu_topRight cu_topRight"
		"cu_buttomLeft cu_buttomLeft"
		"cu_buttomRight cu_buttomRight";
		row-gap: 10px;
	}
	.cuadricula__img{
		grid-area: img;
		display: block;
		width: 128px;
		border-radius: 10px;
		padding: 20px;
	}
}



/*Profile*/
.profile{
	display: flex;
	justify-content: center;
	column-gap: 50px;
	position: relative;
}
.superContainerFixed{
	width: 300px;
	position: relative;
	background: var(--light);
	border-radius: 5px;
	box-shadow: var(--box-shadow-card);
}
.buttonsNav__profiles{
	padding-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
}
.container_img{
	width: 300px;
	display: flex;
	flex-flow: column;
	align-items: center;
	row-gap: 10px;
	border-bottom: 2px solid var(--background);
	padding: 10px;
}
.buttonsNav__item{
	display: flex;
	text-align: center;
	padding: 8px 10px;
	padding-left: 1px;

	min-width: 220px;
	margin: auto;
	border-radius: 2px;
	border: 3px solid transparent;
	color: var(--littleDark);
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.buttonsNav__item--contrast{
	color: var(--text);
	border-bottom: 2px solid var(--primary);
	background: var(--background);
}
.buttonsNav__boxIcon{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
}

.boxProfileImg{
	padding: 2px;
	border-radius: 50%;
	position: relative;
	border: 2px solid var(--primary);
}
.profile__container-img{
	border-radius: 50%;
	position: relative;
	padding: 10px;
	background: var(--littleDark);
}
.profile_img-edit{
	position: absolute;
	background: var(--primary);
	left: calc(50% - 10px);
	bottom: 0;
	cursor: pointer;
	border-radius: 5px 5px 2px 2px;
}
.profile_img-edit i{
	padding: 4px;
	font-size: 15px;
	color: var(--light);
	transition: all .2s;
}
.profile_img-edit:hover{
	background: var(--tertiarySelect);
}
.profile__img{
	display: block;
	object-fit: cover;
	width: 150px;
}
.profileName{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.profileName__title{
	text-align: center;
}
.profileName__character{
	font-size: 13px;
	color: var(--tertiary);
	margin-top: 3px;
	border-top: 1px solid var(--background);
}
.container_profile{
	display: flex;
	flex-flow: column;
	row-gap: 10px;
	width: 800px;
	transition: all .5s;
	animation: moverArriba .5s;
}
.buttonProfile{
	text-align: center;
	max-width: 400px;
	min-width: 200px;
	margin: auto;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;
	border: 3px solid transparent;
	background: var(--primary);
	color: var(--light);
	cursor: pointer;
}

@media (max-width: 1000px){
	.article--whitoutPadding{
		padding: 0;
	}
	.buttonsNav__profiles{
		padding: 10px;
		flex-flow: row;
		margin-top: 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		justify-items: center;
		row-gap: 10px;
		background: var(--light);
	}
	.container_img{
		position: relative;
		width: 100%;
		row-gap: 10px;
		column-gap: 20px;
		display: flex;
		flex-flow: row;
		justify-content: center;
	}
	.profile{
		display: flex;
		flex-flow: column;
		row-gap: 10px;
		column-gap: 0;
		justify-content: center;
	}
	.profile__container-img{
		width: 200px;
		background: transparent;
	}
	.superContainerFixed{
		width: 100%;
		padding-top: 20px;
		background: rgba(0, 0, 0, .5);
		background: url("../../img/student/wall.jpg");
		background-size: cover;
		background-position: top;
	}
	.profile__img{
		width: 150px;
		margin: auto;
	}
	.container_profile{
		width: 100%;
	}
	.profile .container_profile .form__item{
		max-width: 300px;
	}
	.profile .container_profile .form__input--select{
		max-width: 280px;
	}
	.profile .container_profile .form__item--parishe{
		max-width: 300px;
	}
	.profileName{
		background: var(--light);
		padding: 10px;
		border-radius: var(--border-radius-circle);
	}
	.boxProfileImg{
		background: var(--light);
		box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
	}

}

/*Media queries - container_profile*/
@media (max-width: 700px){
	.container_profile{
		width: 95%;
		margin: auto;
	}
}

@media (max-width: 400px){
	.profileName{
		background: var(--light);
		padding: 10px;
		border-radius: var(--border-radius-circle);
	}
	.profile__img{
		width: 100px;
	}
	.boxProfileImg{
		width: 120px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile__container-img{
		width: 110px;
		height: 110px;
		background: var(--tertiary);
		position: relative;
		padding: 5px;
	}
	.buttonProfile{
		max-width: 400px;
		min-width: 100px;
		font-size: 12px;
	}
	.container_img{
		position: relative;
		width: 100%;
		row-gap: 0;
		column-gap: 0;
		display: flex;
		flex-flow: row;
		justify-content: center;
	}
	.buttonsNav__item{
		min-width: 150px;
	}
	.buttonsNav__profiles{
		display: flex;
		flex-flow: column;
	}
}



/*Admin Section*/
/*CTA*/
.cta{
	display: flex;
	justify-content: space-around;

	position: relative;
	isolation: isolate;
}
.cta::after{
	content: '';
	position: absolute;
	z-index: -1;
	inset: 0;
	background-image: url("../../img/administrator/background.png");
	background-position: top;
	background-size: cover;
	opacity: 0.8;
}

.cta__imgContainer{
	display: grid;
	grid-template-areas: 
	"height1 width1"
	"height1 width2";
	gap: 10px;
}

.cta__img--height{
	height: 310px;
	width: 180px;
	object-fit: cover;
	display: block;
	grid-area: height1;
}
.cta__img--widthTop{
	height: 150px;
	width: 200px;
	object-fit: cover;
	display: block;
	grid-area: width1;
}
.cta__img--widthDown{
	height: 150px;
	width: 200px;
	object-fit: cover;
	display: block;
	grid-area: width2;
}

.cta__info{
	display: flex;
	flex-flow: column;
	justify-content: center;
	row-gap: 25px;
}
.cta__description{
	max-width: 500px;
	font-weight: 700;
}

@media (max-width: 400px){
	/*Media queries para el cta*/
	.cta__img--height{
		height: 100px;
		width: 60px;
	}
	.cta__img--widthTop{
		height: 50px;
		width: 100px;
	}
	.cta__img--widthDown{
		height: 50px;
		width: 100px;
	}
	.cta__imgContainer{
		display: grid;
		grid-template-areas: 
		"height1 width1"
		"height1 width2";
		gap: 10px;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	.cta{
		display: grid;
		justify-content: space-around;
		position: relative;
		isolation: isolate;
	}
	.cta__description{
		text-align: center;
	}
	.cta__title{
		text-align: center;
	}
}




/*NewButtons*/
.bton{
	display: block;
	width: 100px;
	font-size: 16px;
	padding: 5px;
	margin-top: 5px;
	border-radius: 3px;
	text-align: center;
}
.bton--edit{
	border: 1px solid var(--tertiary);
	color: var(--tertiary);
}
.bton--edit:hover{
	background: var(--tertiary);
	border: 1px solid var(--light);
	color: var(--light);
	transition: all .5s;
}


/*boxMyChart*/
.boxMyChart{
	width: 300px;
	margin: auto;
}
.boxMyChart--complete{
	width: 90%;
	margin: auto;
}

.containerBoxData{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 20px;
	border-radius: 5px;
	margin-top: 20px;
}
.boxData{
	border-radius: 5px;
	width: 180px;
	padding: 10px;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	background: var(--littleDark);
	color: var(--light);
	height: 100%;
	row-gap: 10px;
	background: rgb(54, 162, 235);
}
.boxData--orange{
	background: rgb(255, 159, 64);
}
.boxData--blue{
	background: rgb(54, 162, 235);
}
.boxData--red{
	background: rgb(255, 99, 132);
}
.boxData--large{
	width: 100%;
	background: var(--primary);
	color: var(--light);
}
.dataNumber, .spanPercentage{
	font-size: 20px;
	font-weight: 700;
	color: var(--light);
}
.superContainerSpan{
	display: flex;
	align-items: center;
	gap: 3px;
}
.boxContainerDescriptionCard{
	display: flex;
	align-items: center;
}
.containerDescriptionCard{
	display: flex;
	flex-flow: column;
}
@media (max-width: 800px){
	.boxContainerDescriptionCard{
		flex-flow: column;
		row-gap: 20px;
	}
}

.marginBanner{
	margin: 50px 0;
}

.alertInformation{
	display: flex;
	position: relative;
	column-gap: 10px;
	background: var(--gold-light);
	align-items: center;
	border-radius: 5px;
	padding: 15px 10px;
}
.alertInformation__boxIcon i{
	color: var(--danger);
	font-size: 45px;
}
.alertInformation__xmark{
	position: absolute;
	right: 10px;
	top: 10px;
}
.alertInformation__xmark i{
	cursor: pointer;
}
.alertInformation__boxText{
	max-width: 600px;
	display: flex;
	flex-flow: column;
	row-gap:2px;
}
.alertInformation__button{
	display: flex;
	justify-content: center;
	column-gap: 5px;
	right: 15px;
	bottom: 10px;
	background: var(--primary);
	border-radius: 5px;
	padding: 10px;
	max-width: 110px;
}
.alertInformation__button i, .alertInformation__button p{
	color: var(--light);
	font-size: 15px;
}
.alertInformation__title{
	font-size: 18px;
}
.alertInformation__description{
	font-size: 15px;
}

/*Caja de Información del Perfil del usuario*/
.boxInformationProfile{
	position: relative;
}
.boxInformationProfile__grade{
	font-size: 18px;
	max-width: 200px;
}
.boxInformationProfile__title{
	padding: 10px 0;
}
.boxInformationProfile__details{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
	gap: 10px;
	justify-content: center;
}
.boxInformationProfile{
	box-shadow: var(--box-shadow-card);
	border-radius: var(--border-radius-circle);
	background: var(--light);
	padding: 10px;
}
.boxInformationProfile__item{
	display: flex;
	flex-flow: column;
	background: var(--light);
	box-shadow: var(--box-shadow-card);
	border: 1px solid var(--littleDark);
	border-bottom: 2px solid var(--primary);
	border-radius: var(--border-radius-circle);
	min-width: 370px;
	max-width: 370px;
	padding: 10px;
}
.boxInformationProfile__boxIcon{
	font-size: 25px;
	color: var(--tertiary);
	margin-bottom: 10px;
}
.boxInformationProfile__bannerTitle{
	display: flex;
	align-items: center;
	gap: 10px;
}
.boxInformationProfile__xmark{
	background: transparent;
	border: none;
	color: var(--primary);
	font-size: 25px;
	cursor: pointer;
}
.boxInformationProfile__xmark--danger{
	font-size: 14px;
	padding: 3px;
	background: var(--danger);
	color: var(--light);
	display: block;
	border-radius: 2px;
}

/*Cartas de la instituciones*/
.boxInformationProfile__cards{
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.boxInformationProfile__addInstitution{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: var(--light);
	box-shadow: var(--box-shadow-card);
	border: 1px solid var(--littleDark);
	border-bottom: 2px solid var(--primary);
	border-radius: var(--border-radius-circle);
	max-width: 370px;
	min-width: 370px;
}
.boxInformationProfile__addInstitution:hover{
	background: var(--background);
	transition: all .5s;
	cursor: pointer;
}
.boxInformationProfile__institution{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: space-between;
	align-items: start;
	padding: 7px;
	background: var(--light);
	box-shadow: var(--box-shadow-card);
	border: 1px solid var(--littleDark);
	border-bottom: 2px solid var(--primary);
	border-radius: var(--border-radius-circle);
	max-width: 370px;
	min-width: 370px;
	position: relative;
}
.boxInformationProfile__iconIntitute{
	font-size: 30px;
	color: var(--tertiary2);
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 10px;	
	display: flex;
	gap: 10px;
	align-items: center;
}
.boxInformationProfile__titleIntitute{
	font-size: 16px;
}
.buttons_edit{
	display: flex;
	align-items: center;
	justify-items: center;
	gap: 10px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.boxInformationProfile__iconIntitute--university{
	background: #cca63273;
}
.boxInformationProfile__iconIntitute--collage{
	background: #32ccc673;
}
.boxInformationProfile__iconIntitute--primary{
	background: #cc563273;
}
.info_intitution{
	display: flex;
	flex-flow: column;
	gap: 1px;

}
.info_intitution li span{
	font-size: 14px;
}

@media (max-width: 400px){
	.boxInformationProfile__item, 
	.boxInformationProfile__institution,
	.boxInformationProfile__addInstitution{
		min-width: 98%;
		max-width: 98%;
	}
}

@media (max-width: 600px){
	.header_imgItem__cintillo{
		width: 100%;
	}
}


/*Migajas de Pan*/
.breadcrumbs{
	width: 90%;
	margin: auto;
	background: var(--light);
	border-bottom: 1px solid var(--litleGray);
	z-index: 10;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
.breadcrumbs--windows{
	position: absolute;
	z-index: 10;
	width: 100%;	
}
.breadcrumbs__boxList{
	display: flex;
	gap: 2px;
	padding: 5px 20px;
	align-items: center;
	overflow-x: scroll;
}
.breadcrumbs__item{
	display: flex;
	gap: 5px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.breadcrumbs__item:nth-child(1){
	gap: 5px;
	cursor: pointer;
}
.breadcrumbs__item p{
	color: var(--notification--dark);
	text-decoration: underline;
}
.breadcrumbs__item:hover p{
	cursor: pointer;
	text-decoration: underline;
	color: var(--success);
}
.breadcrumbs__item--active{
	font-weight: 700;
	cursor: default;
}
.breadcrumbs__item--active,
a:has(.breadcrumbs__item--active) {
    cursor: default;
    pointer-events: none;
}
.breadcrumbs__item--active:hover p{
	cursor: default;
	text-decoration: none;
	color: var(--text);
}
.breadcrumbs__item--active p{
	text-decoration: none;
	color: var(--text);
}
.breadcrumbs__item--base {
	border-radius: 2px;
    position: fixed; 
    left: 0; 
    z-index: 100; 
    background: var(--light); 
    padding: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
}
.breadcrumbs__item--base:hover {
    cursor: pointer;
    background: var(--primary); 
    color: var(--light);
    transition: all .5s;
}

@media (max-width: 700px){
	.breadcrumbs{
		width: 100%;
	}
}
.listUser__head .icon{
	width: min(100%, 130px);
}

.boxDownload{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}
.boxDownload__button{
	padding: 10px;
	border-radius: var(--border-radius-circle);
	background: var(--primary);
	color: var(--light);
}
.boxDownload__button:hover{
	transition: all .5s;
	box-shadow: var(--box-shadow-card-small);
	background: var(--primarySelect);
}