.message{
    position: absolute;
    top: 65px;
    font-weight: 300;
    color: var(--light);
    font-size: 1.1em;
    padding: .7em .5em;
    padding-left: 1em;
    max-width: min(100%, calc(500px));
    animation: moverIzquierda .5s;
    z-index: 100;
    position: fixed;
}
.message--error{
    background: var(--danger);
}
.message--success{
    background: var(--success);
}
.message--warning{
    background: var(--danger);
}
.close-message{
    cursor: pointer;
}

.hidden{
    display: none;
}

@media (max-width: 600px){
    .message{
        font-weight: 300;
        font-size: 0.85em;
        padding: .7em .5em;
        padding-left: 1em;
        max-width: min(100%, calc(500px));
    }
}