.boxHeaderStatics{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px 0;
}
.boxheaderStatics__card{
	background: var(--light);
	padding: 10px;
	border-radius: var(--border-radius-circle);
	box-shadow: var(--box-shadow-card-small);
	min-width: 255px;
}
.boxheaderStatics__title{
	font-size: 20px;
	font-weight: 700;
}
.boxheaderStatics__number{
	font-size: 25px;
}
.boxheaderStatics__smallInfo{
	font-size: 14px;
}

.boxCharts{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}
.itemChart{
	background: var(--light);
	border-radius: var(--border-radius-circle);
	padding: 20px;
}
.leftBoxCharts{
	width: 75%;
}
.rightBoxCharts{
	width: 22%;
	display: flex;
	flex-flow: column;
	gap: 15px;
}
.itemChart__title{
	font-weight: 700;
}
.itemChart__info{
	margin-top: 20px;
	display: flex;
	flex-flow: column;
	gap: 5px;
	align-items: center;
}
.itemLabel{
	font-weight: 700;
}

.itemChart__superTitle{
	font-size: 18px;
	text-align: center;
}
.listUsers{
	display: flex;
	flex-flow: column;
	gap: 10px;
	margin-top: 10px;
}
.listUsers__item{
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}
.smallListUserBox{
	display: flex;
	gap: 5px;
}

.listUsers__img{
	width: 40px;
}
.listUsers__itemInfo{
	display: flex;
	flex-flow: column;
	gap: 5px;
}
.listUsers__title{
	font-size: 14px;
	font-weight: 700;
}
.listUsers__identificationCard{
	font-size: 14px;
}
.listUsers__date{
	font-size: 14px;
	text-align: center;
}
.listUsers__ago{
	font-size: 14px;
}
.gridItemCharts{
	margin-top: 20px;
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 20px;
}
.gridItemCharts .itemChart--small{
	width: 35%;
}
.gridItemCharts .itemChart--medium{
	width: 62%;
}

.boxDescriptionItems{
	display: flex;
	flex-flow: column;
	gap: 30px;
	margin-top: 20px;
}

.boxDescriptionItems__item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0.2px solid rgba(50, 50, 50, .1);
	padding: 5px 10px;
	border-radius: var(--border-radius-circle);
	gap: 10px;
}
.boxDescriptionItems__item--lecciones i{
	color: rgba(75, 192, 192, 1);
}
.boxDescriptionItems__item--evaluation i{
	color: rgba(153, 102, 255, 1);
}

.numberItem{
	background: rgba(54, 162, 235, 0.3);
	border: 1px solid rgba(54, 162, 235, 1);
	padding: 5px;
	border-radius: var(--border-radius-circle);
}
.numberItem--lecciones{
	background: rgba(75, 192, 192, 0.3);
	border: 1px solid rgba(75, 192, 192, 1);
}
.numberItem--evaluation{
	background: rgba(153, 102, 255, 0.3);
	border: 1px solid rgba(153, 102, 255, 1);
}
.numberItem__info{
	font-size: 20px;
}
.boxDescriptionItems__item--autoevaluation i{
	color: rgba(54, 162, 235, 1);
}
.boxDescriptionItems__info{
	display: flex;
	flex-flow: column;
	gap: 5px;
}
.boxDescriptionItems__subtitle{
	font-size: 18px;
	font-weight: 700;
}
.boxDescriptionItems__description{
	font-size: 14px;
	max-width: 220px;
}
.smallSeparation{
	display: flex;
	align-items: center;
	gap: 20px;
}
.article__title{
	padding: 10px 20px;
}


/*Media Query*/
@media (max-width: 1200px){
	.listUsers__item{
		flex-wrap: wrap;
	}
	.gridItemCharts--medimCharts{
		flex-wrap: wrap;
		flex-flow: column;
		align-items: center;
	}
	.itemChart--pieChart{
		width: 100% !important;
	}
	.itemChart--mediumCharts{
		width: 100% !important;
	}
	.gridItemCharts--cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.gridItemCharts--cards .itemChart--small{
		width: 100%;
	}
}
@media (max-width: 800px){
	.boxCharts{
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.leftBoxCharts, .rightBoxCharts{
		width: 90%;
	}

}