.gridTwo{
	display: flex;
	padding-top: 40px;
	width: 100%;
}
.navigationContents{
	width: 300px;
	padding-left: 10px;
	background: var(--light);
	padding-bottom: 20px;
	min-height: calc(100vh - 100px);
}
.moduleDescription{
	width: calc(100% - 300px);
	padding: 20px;
}
.contentNote{
    width: 100%;
}
.moduleDescription--simple{
	margin-top: 70px;
}
.navigationContents__hamburgerButton{
	display: none;
}
.navigationContents__title{
	margin: 20px 0;
	padding-left: 10px;
	font-size: 18px;
}
.navigation__section{
	display: flex;
	flex-flow: column;
	gap: 10px;
}
.itemNavigation {
    display: flex;
    gap: 0 10px;
    align-items: center;
    background-color: var(--supperLittleGray); 
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius-circle); 
    cursor: pointer;
}
.itemNavigation--complete{
    justify-content: space-between;
    padding-right: 20px;
}
.itemNavigation--complete i{
    color: var(--primary);
}
.itemNavigation--block{
    background: var(--background);
    justify-content: space-between;
    padding-right: 20px;
}
.itemNavigation--block i{
    color: var(--littleDark);
}
.itemNavigation--activate{
    background-color: var(--primary); 
}
.itemNavigation:hover{
	transition: all .5s;
	background: var(--litleGray);
}
.itemNavigation--activate:hover{
    background-color: var(--primary); 
}
.itemNavigation--block:hover{
    background: var(--background);
    cursor: default;
}
.itemNavigation__info{
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.navigation__img{
	width: 45px;
}
.buttonsNavigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: background-color 0.3s, transform 0.3s;
    padding-bottom: 50px;
    margin-top: 20px;
}
.buttonParts {
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--border-radius-circle);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.buttonParts--next {
    background-color: var(--primary); 
    color: white; 
}
.buttonParts--back{
    background-color: #cccccc; 
    cursor: not-allowed; 
}
.buttonParts--next:hover {
    background-color: var(--primary-transparent); /* Color al pasar el mouse */
}

/* Mantener la tabla en pantallas grandes */
.autoevaluationTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--light);
}

.autoevaluationTable th,
.autoevaluationTable td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
}

.autoevaluationTable td {
  padding: 15px;
}

.autoevaluationTitleHead {
  background: var(--primary);
  color: var(--light);
  font-size: 1.2rem;
  font-weight: bold;
}
.hidden-label{display: none;}
.autoevaluationBox__titleHidden{display: none;}
/* Cambiar el diseño a tarjetas en pantallas pequeñas */
@media (max-width: 600px) {
    .autoevaluationBox__titleHidden{
        display: block;
        text-align: center;
        background-color: var(--primary);
        padding: 10px 0;
        border-radius: var(--border-radius-circle) var(--border-radius-circle) 0 0;
    }
    .autoevaluationBox__titleHidden h3{
        color: var(--light);
    }
  /* Convertir la tabla en un contenedor normal */
  .autoevaluationTable {
    display: block;
    width: 100%;
  }

  /* Ocultar el encabezado de la tabla */
  .autoevaluationTable thead {
    display: none;
  }

  /* Convertir cada fila en una tarjeta */
  .autoevaluationTable tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .autoevaluationCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius-circle);
    background: var(--light);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    width: 98%;
    max-width: 400px;
    margin: 10px auto;
  }

  /* Alinear la pregunta al centro */
  .autoevaluationQuestion {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* Ajustar las respuestas en filas */
  .autoevaluationCard td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 8px;
    border: none;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 4px;
    padding: 10px;
    border-radius: var(--border-radius-circle);
  }
td.autoevaluationQuestion{
    padding: 0;
    margin-top: 5px;
    border: none;
}

  /* Mostrar los labels ocultos */
  .hidden-label {
    display: block;
    font-size: 14px;
    flex: 1;
    text-align: left;
  }

  /* Aumentar tamaño de los radios */
  .autoevaluationCard input[type="radio"] {
    transform: scale(1.2);
    cursor: pointer;
  }
}

@media (max-width: 500px) {
    .moduleDescription{
        padding: 20px 5px;
    }
}





/*Menú de navegación de los contenidos*/
@media (max-width: 1120px) {
    .gridTwo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding-top: 25px;
        gap: 10px;
    }
    .navigationContents{
        width: 80%;
        min-width: 300px;
        margin: auto;
        height: 100%;
        border-radius: 10px;
        padding: 10px 20px;
        padding-bottom: 20px;
        min-height: auto;
        margin-bottom: 50px;
    }
    .moduleDescription{
        width: 100%;
    }
}

/*EVALUACIONES*/
/*Hidden para la Retroalimentación*/
.hiddenRetro{
    display: flex;
}

.hiddenRetro.active{
    display: none;
}


/*Carrusel*/
.boxCardsItemEvaluation--carousel{
    position: relative;
}
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
}

.boxNavigationCarousel{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 35px;
}
.carousel-button {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--light);
    border: none;
    border-radius: var(--border-radius-circle);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.carousel-button__next{
    background-color: var(--primary);
}
.carousel-navigation {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-dot {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border: .5px solid var(--light);
    border-radius: 50%;
    margin: 0 5px;
}
.nav-dot.active {
    background-color: var(--primary);
}


/*Verdad o Falso*/
.trueOrFalse__item--true {
    background-color: var(--success); 
    color: white;
}
.trueOrFalse__item--true p{
    color: white;
}

.trueOrFalse__item--false {
    background-color: var(--danger); 
    color: white;
}
.trueOrFalse__item--false p{
    color: white;
}
.trueOrFalse__item--disabled {
    pointer-events: none;
    opacity: 0.6;
}
.trueOrFalse__item--false.trueOrFalse__item--disabled,
.trueOrFalse__item--true.trueOrFalse__item--disabled{
    opacity: 1;
}


/*Secuencia*/
.boxSequence__element {
    cursor: move;
    transition: background-color 0.3s; 
    border: 2px solid transparent; 
}
.boxSequence__element.invisible {
    opacity: 0;
}
.boxSequence__element.touchMove {
    border: 2px dashed #666;
    opacity: 1;
    background: var(--background);
}
.boxSequence__element:hover{
    background: var(--background);
}
.boxSequence__element.replace{
    border: 2px dashed #666; 
}

.box-check-pairing-button,
.box-check-word-button,
.box-check-tableCompare-button,
.box-check-order-button{
    display: flex;
    justify-content: center;
}

.check-pairing-button.inactive,
.check-word-button.inactive,
.check-tableCompare-button.inactive,
.box-check-order-button.inactive{
    display: none;
}

.check-pairing-button,
.check-word-button,
.check-tableCompare-button,
.check-order-button{
    background: var(--primary);
    color: var(--light);   
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--border-radius-circle);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/*Emparejamiento*/
.boxCompare__item.selected {
    background-color: #e0f7fa; 
    border: 2px solid var(--primary); 
    transform: scale(1.05); 
    transition: all 0.3s ease; 
}
.boxCompare__item.correct {
    background-color: #28a74557; 
    border: 2px solid var(--success); 
    transform: scale(1); 
    cursor: default;
}
.boxCompare__item.incorrect {
    background-color: #e7548091; 
    border: 2px solid var(--danger); 
    transform: scale(1); 
    cursor: default;
}
.boxCompare__item.previous-selected {
    transform: scale(0.9); 
    background: var(--background); 
    border: 2px solid var(--background); 
    cursor: default;
}


.input-container {
    position: relative;
    width: 100%;
}
.superInputText {
    width: 100%;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--background);
    caret-color: var(--primary);
    color: var(--text);
    padding: 7px 30px 7px 10px;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--primary);
    border-radius: var(--border-radius-circle);
    transition: all .2s ease;
}
.superInputText:hover {
    border-bottom: 2px solid var(--tertiary);
}
.superInputText:focus {
    border: 2px solid var(--tertiary);
}
.superInputText.inactive{
    border: 2px solid transparent;
}
.input-container .icon-input {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    font-size: 25px;
}
.input-container .icon-hidden{
    display: none;
}
.input-container .icon-correct{
    color: var(--success);
}
.input-container .icon-incorrect{
    color: var(--danger);
}


/* Cuadro Comparativo */
.boxTableCompare {
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.boxTableCompare__table{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.tableColumn {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
}
.tableColumn__body {
    flex-grow: 1;
    min-height: 100px; 
    border: 1px solid transparent; 
    position: relative; 
}
.tableOptionsList {
    border: 1px solid var(--text);
    border-radius: var(--border-radius-circle);
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    gap: 5px;
}
.tableOptionsList--hidden{
    display: none;
}
.tableOptionsList__item {
    background: var(--litleGray);
    padding: 5px;
    border-radius: var(--border-radius-circle);
    display: flex;
    gap: 10px;
    cursor: move;
    border: 2px dashed transparent;
}
.tableOptionsList__item:hover {
    background: var(--background);
    border: 2px dashed var(--primary);
}

.tableOptionsList__text {
    font-size: 18px;
}

.tableColumn__body.highlight {
    border: 2px dashed #4CAF50; 
    background-color: rgba(76, 175, 80, 0.1); 
}
.tableColumn__body .tableOptionsList__text{
    font-size: 12px;
}
.tableColumn__body .tableOptionsList__item--correct{
    background:var(--success);
}
.tableColumn__body .tableOptionsList__item--incorrect{
    background:var(--danger);
}
.tableOptionsList__item--correct,
.tableOptionsList__item--incorrect{
    color: var(--light);
    border: 2px solid transparent;
}
.tableOptionsList__item--correct:hover,
.tableOptionsList__item--incorrect:hover{
    border: 2px solid transparent;
    cursor: default;
}
.tableOptionsList__item--correct .tableOptionsList__text,
.tableOptionsList__item--incorrect .tableOptionsList__text{
    color: var(--light);
}

@media (max-width: 400px) {
   .tableColumn__title{
        font-size: 14px;
   }
   .tableOptionsList__text{
        font-size: 12px;
   }
   .tableColumn__body .tableOptionsList__item{
    display: flex;
    flex-flow: column;
   }
}



/*Nota Educativa - Lección*/
.divNote{
    min-width: 100%;
}
.note__title{
    text-align: center;
}

/*Animacion*/
.shake {
    animation: shake 0.5s ease-in-out;
}


/*Test*/
.boxImage{
    max-width: 500px;
    margin: auto;
    background: white;
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-card);
}
.boxImage__img{
    display: block;
    object-fit: contain;
    width: 300px;
}
.boxImage__img--success{
    animation: tamaño 2s infinite;
}
.boxImageInfo{
    display: flex;
    gap: 20px;
}
.boxImageInfo__item{
    padding: 5px;
    border-radius: var(--border-radius-circle);
}
.boxImageInfo__item--porcentage{
    background: var(--primary2);
}
.boxImageInfo__item--porcentageDanger{
    background: var(--danger);
}
.boxImageInfo__item--time{
    background: var(--notification);
}

.boxImageInfo__itemTitle{
    font-size: 20px;
    color: var(--light);
    text-align: center;
    padding: 4px 0;
}
.boxImageInfo__description{
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 20px;
    background: var(--light);
    border-radius: 10px;
}
.boxImageInfo__description p{
    font-weight: 700;
}

.boxImageInfo__item--porcentage .boxImageInfo__description i, 
.boxImageInfo__item--porcentage .boxImageInfo__description p{
    color: var(--primary2);
}
.boxImageInfo__item--porcentageDanger .boxImageInfo__description--alert i, 
.boxImageInfo__item--porcentageDanger .boxImageInfo__description--alert p{
    color: var(--danger);
}
.boxImageInfo__item--time .boxImageInfo__description i, 
.boxImageInfo__item--time .boxImageInfo__description p{
    color: var(--notification--dark);
}


.boxButtonTest{
    display: flex;
    justify-content: center;
    gap: 10px;
    border-top: 2px solid var(--littleDark);
    width: 100%;
}
.boxButtonTest__button{
    margin-top: 20px;
    padding: 10px;
    font-weight: 700;
    color: var(--light);
    border-radius: var(--border-radius-circle);
    border: none;
    cursor: pointer;
}
.boxButtonTest__button--next{
    background-color: var(--primary);
    color: var(--light);
}
.boxButtonTest__button--back{
    background-color: var(--littleDark);
    color: var(--light);
}
.boxButtonTest__button:hover{
    box-shadow: 0 0 5px rgba(10, 10, 10, .2);;
    transition: all .5s;
}

#timeCounter, #percentageCounter {
    min-width: 40px; 
    text-align: center; 
    white-space: nowrap; 
}