.visibilityFalse{
	visibility: hidden;
}
.containerTableUser{
	width: 90%;
	margin: auto;
	border-radius: 5px;
	box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.08);
	margin: auto;
	overflow-x: scroll;
	background: var(--light);
}

.listUser{
	width: 100%;
	border-collapse: collapse;
}
.listUser__thHead{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: var(--light);
	background: var(--primary);
	text-align: left;
	padding: 10px 5px;
	white-space: nowrap;
}
.listUser__tdBody{
	padding: 10px;
	width: 100px;
}
.listUser__tdBody--nowrap {
    text-wrap: nowrap;
}

.listUser__trBody:nth-child(even){
	background: var(--background);
}

.listUser__tdBody,
.listUser__thHead{
	padding-left: 25px;
}
.listUser__thHead--actions{
	text-align: center;
	padding-left: 0;
}

.listUser__thHead:first-child,
.listUser__tdBody:first-child{
	width: 200px;
}
.imgTable{
	width: 50px;
	object-fit: cover;
	display: block;
}
.imgTable--big{
	width: 90px;
	object-fit: cover;
	display: block;	
}

.td__value{
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.td__value--true{
	color: var(--primary);
}
.td__value--false{
	color: var(--tertiary);
}



/*Librería*/
.dataTables_wrapper{
	padding: 10px 0;
}
.dataTables_length{
	padding-left: 10px;
}
..dataTables_filter{
	padding-right: 10px;
}
.dataTables_length, .dataTables_filter, 
.dataTables_info, .paginate_button{
	font-family: 'Quicksand', sans-serif;
	font-display: fallback;
	color:var(--text);
	font-size: 16px;
}
.dataTables_info{
	padding-left: 10px;
}
.dataTables_filter label input{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: none;
	border-bottom: 2px solid var(--primary);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
}

.buttonsActions{
	display: flex;
	flex-flow: column;
}
.buttonsActions a, button{
	display: flex;
	gap: 5px;
	justify-content: center;
}