img{
    max-width: calc(100vw - 40px); /* Límite de ancho máximo al ancho de la ventana menos 40px */
    height: auto; /* Mantiene la proporción de la imagen */
}
iframe {
    max-width: calc(100vw - 40px); /* Ajusta el ancho máximo al 100% de la ventana menos 40px */
    height: 100%;
    aspect-ratio: 16 / 9; /* Establece una relación de aspecto de 16:9 */
}
#myeditorinstance {
    width: 100%; /* Asegúrate de que el ancho sea del 100% */
    min-height: 300px; /* Altura mínima para el editor */
    overflow: hidden; /* Evita el desbordamiento */
}
.myeditorinstance {
    width: 100%; /* Asegúrate de que el ancho sea del 100% */
    min-height: 300px; /* Altura mínima para el editor */
    overflow: hidden; /* Evita el desbordamiento */
}