/* Estilos para las páginas */
@page {
    margin: 0.2cm;
    size: A4 landscape;
}
.page {
    page-break-after: always; /* Forzar salto de página después de cada .page */
    position: relative;
}
.page:last-child {
    page-break-after: auto; /* Evitar salto de página después de la última página */
}
.page-one{
	background: url('../../img/certificate/wall.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.page-two{
	background: url('../../img/certificate/dorso.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* FIN de estilo para las páginas */



/* Acomodar los textos */
*{
	font-family: sans-serif;
}
.aHidden{
	position: absolute;
	top: 230px;
	left: 550px;
	width: 40px;
	height: 40px;
	background: white;
}
.aShow{
	position: absolute;
	top: 230px;
	left: -20px;
	font-size: 30px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    color: #754933;
}
.namePerson{
	position: absolute;
	top: 280px;
	width: 91%;
	left: 4.5%;
	text-align: center;
}
.namePerson__title{
	font-size: 50px;
    font-weight: 700;
    color: #754933;
}
.numberID{
	position: absolute;
	top: 358px;
	left: 560px;
	font-size: 30px;
    color: #754933;
}
.courseTitle{
	position: absolute;
	top: 455px;
	font-size: 30px;
	text-align: center;
    color: #246616;
    text-align: center;
    width: 91%;
    left: 4.5%;
}
.date-certificate{
	position: absolute;
	top: 515px;
    left: 610px;
	font-size: 16px;
	text-align: center;
    color: #246616;
}
.code-certificate{
	position: absolute;
	top: 548px;
	left: 530px;
	font-size: 16px;
	text-align: center;
    color: #246616;
}


/*Segunda Página*/
.qrBars{
	position: absolute;
	top: 530px;
	right: 130px;
}
.titleCourse{
	position: absolute;
	left: 84px;
	top: 110px;
	font-size: 20px;
    color: #246616;
}
.general_objetive{
	position: absolute;
	top: 200px;
	left: 100px;
    color: #246616;
    font-size: 14px;
    width: 960px;
    text-align: justify;
    line-height: 1.4;
}
.course-modules{
	position: absolute;
	top: 330px;
	left: 100px;
	width: 700px;
}
.module{
	margin: 10px 0;
}
.module__title{
    color: #246616;
	font-size: 14px;
}