:root{
  /*Colores principales*/
  --admin-primary:#007fff;
  --primary:#0ba8e2;
  --primary-text: #0ba8e2;
  --primary-transparent:#80b3ff80;
  --primarySelect:#23b0e3;
}
.header__loginItem--contrast:hover{
  background: #69a1f4;
}
.breadcrumbs__item:hover p{
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary);
}
.breadcrumbs__item--active:hover p{
  cursor: default;
  text-decoration: none;
  color: var(--text);
}
.menuNewContent__item:hover{
  background: var(--primary-transparent);
}
.menuNewContent__item--second:hover{
  background: var(--tertiary-transparent);
}
.menuNewContent__item--third:hover{
  background: var(--tertiary-transparent);
}