:root{
  /*Colores principales*/
  --admin-primary:#ffbe58;
  --primary:#c5a57d;
  --primary-text: #c5a57d;
  --primary-transparent:#c5a57d99;
  --primarySelect:#cab397;
}
.header__loginItem--contrast:hover{
  background: #caac86;
}
.breadcrumbs__item:hover p{
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary);
}
.breadcrumbs__item--active:hover p{
  cursor: default;
  text-decoration: none;
  color: var(--text);
}
.menuNewContent__item:hover{
  background: var(--primary-transparent);
}
.menuNewContent__item--second:hover{
  background: var(--tertiary-transparent);
}
.menuNewContent__item--third:hover{
  background: var(--tertiary-transparent);
}