.listUserNav{
	width: 100%;
	padding: 5px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	background: var(--light);
}
.listUserNav__item{
	display: flex;
	gap: 5px;
	padding: 10px 10px;
	font-size: 18px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: var(--border-radius-circle);
}
.listUserNav__item:hover{
	border: 1px solid var(--primary);
	transition: all .5s;
}
.listUserNav__item--selected{
	background:var(--primary);
	cursor: default;
}
.listUserNav__item--selected .listUserNav__text,
.listUserNav__item--selected i{
	color: var(--light);
	font-weight: 700;
}